---
layout: default
title: 'The Clean Science Difference - AlumierMD Canada'
---
         <div class="content">
            <div class="content-page clean-science">
               <!--Banner-->
               <div class="bg-cover m-t-n-m">
                  <div class="row middle-xs banner-text">
                     <div class="col-xs-12">
                        <h6 class="text-uppercase"></h6>
                        <h1 class="text-super"></h1>
                        <p class="m-t-m m-b-0"></p>
                     </div>
                  </div>
               </div>
               <div class="wrapper ">
                  <!-- Top Heading -->
                  <div class="p-l">
                     <div class="text-center">
                        <h2>Our Stance on Clean Science</h2>
                        <p class="gutters">
                           We are a team of skincare experts with over 100 years of combined experience and an unwavering commitment to what we call, <strong>Clean Science</strong>. We continuously evolve our formulations to ensure they incorporate clinically validated ingredients in the <strong>cleanest formulations to produce the best possible treatment results.</strong>
                        </p>
                     </div>
                  </div>
                  <!-- Tab 1 -->
                  <div>
                     <div class="accordion-head">
                        <div class="row">
                           <div class="col-xs-10 col-xs-offset-1 text-center">
                              Defining Clean Science
                           </div>
                           <div class="col-xs-1 accordion-icon">
                           </div>
                        </div>
                     </div>
                     <div class="accordion-content">
                        <div class="text-center p-t-m p-b-l">
                           <p class="gutters">
                              The term <em>clean</em> is open to interpretation but for us, it means being truthful and transparent about what is in our products and why.  We hold our commitment to clean science to a meticulous standard by assessing the safety profile of every ingredient to consider dosage and exposure.
                           </p>
                           <p class="gutters">
                              Our products are clinically tested and free from over 1,300 substances banned by the European Union (E.U), Health Canada and the Federal Drug Administration (FDA).  Wherever possible, ingredients are sustainably sourced from suppliers who make every effort to protect the environment.  We do not include substances banned by the more stringent E.U. but also choose not to include additional, potentially harmful ingredients including phthalates, sulfates, parabens, dyes and artificial fragrances. We are equally committed to science - using clinically proven ingredients, medical-strength formulations and optimal dosages in products that produce results.
                           </p>
                        </div>
                     </div>
                  </div>
                  <!--Tab 2-->
                  <div>
                     <div class="accordion-head">
                        <div class="row">
                           <div class="col-xs-10 col-xs-offset-1 text-center">
                              The Complex Formulating Trifecta
                           </div>
                           <div class="col-xs-1 accordion-icon">
                           </div>
                        </div>
                     </div>
                     <div class="accordion-content">
                        <div class="text-center">
                           <p class="gutters p-t-m">
                              AlumierMD chooses to formulate differently, and it’s not an easy task.  We have three priorities for our product development process:
                           </p>
                           <div class="row center-xs" style="margin: auto">
                              <div class="text-left">
                                 <ol>
                                    <li>Drive transformative results for specific skin conditions and concerns;</li>
                                    <li>Create elegant formulations that encourage daily use;</li>
                                    <li>Develop formulations that reflect our stance on clean science.</li>
                                 </ol>
                              </div>
                           </div>
                           <p class="gutters p-t-m">
                              By choosing to remove questionable ingredients from our formulations, we discover new ways of replacing those ingredients with cleaner alternatives.  That trifecta is difficult to achieve, and normally, patients are left having to compromise at least one of them with their regular skincare. <strong>We don’t do what’s easy, we do what’s right&trade;</strong>; and through innovation backed by a wide scientific community of professional associates, we are able to master that complex trifecta.
                           </p>
                        </div>
                     </div>
                  </div>
                  <!-- Tab 3-->
                  <div>
                     <div class="accordion-head">
                        <div class="row">
                           <div class="col-xs-10 col-xs-offset-1 text-center">
                              Total Quality Management
                           </div>
                           <div class="col-xs-1 accordion-icon">
                           </div>
                        </div>
                     </div>
                     <div class="accordion-content">
                        <div class="text-center p-t-xl">
                           <p class="gutters">
                              At <strong>AlumierMD</strong>, we uphold rigorous standards relating to quality throughout our production process and complete transparency about what’s in our products. Throughout our entire supply chain, we partner with like-minded suppliers who uphold ethical human and environmental values. All of our manufacturing facilities are GMP certified (international requirements) and where necessary, are FDA & Health Canada drug registered for completely safe and effective production. The appropriate key ingredients are USP grade, which identifies purity, quality and integrity. We aim to inform and empower by providing full ingredient listings on all our product packaging, as well as our website.
                           </p>
                        </div>
                        <div class="lifecycle-image-container p-l-l p-r-l">
                           <img class="lifecycle-image full-width hidden-xs" src="/assets/frontend/clean-science/total_quality_management.svg" />
                           <img class="lifecycle-image full-width visible-xs-inline" src="/assets/frontend/clean-science/total_quality_management_mobile.svg" />
                        </div>
                        <div class="row lifecycle p-l-l p-r-l p-t-s p-b-l" >
                           <div class="lifecycle-col col-xs-3 text-center">
                              <h4 class="spaced-heading-text p-b-s" >PLAN</h4>
                              <p class="p-l-s p-r-s">
                                 R&amp;D identifies safe replacements for toxic ingredients
                              </p>
                           </div>
                           <div class="lifecycle-col col-xs-3 text-center">
                              <h4 class="spaced-heading-text p-b-s" >DESIGN</h4>
                              <p class="p-l-s p-r-s">
                                 Formulate with commitment to clean science
                              </p>
                           </div>
                           <div class="lifecycle-col col-xs-3 text-center ">
                              <h4 class="spaced-heading-text p-b-s" >PRODUCE</h4>
                              <p class="p-l-s p-r-s">
                                 Results-oriented, elegant products
                              </p>
                           </div>
                           <div class="lifecycle-col col-xs-3 text-center ">
                              <h4 class="spaced-heading-text p-b-s" >EDUCATE</h4>
                              <p class="p-l-s p-r-s">
                                 Education modules inform that an alternative has arrived
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Tab 4-->
                  <div>
                     <div class="accordion-head">
                        <div class="row">
                           <div class="col-xs-10 col-xs-offset-1 text-center">
                              The Medical-Grade Difference
                           </div>
                           <div class="col-xs-1 accordion-icon">
                           </div>
                        </div>
                     </div>
                     <div class="accordion-content text-center">
                        <p class="gutters p-t-m">
                           Our brand encompasses cosmetic products as well as products registered as over-the-counter (OTC) drugs (USA and Canada), Natural Health products (Canada) and prescription drugs (EU) within its entire global portfolio. Therefore, you can only access AlumierMD products through your professional, under their guidance and recommendations tailored to your specific needs.
                        </p>
                        <p class="gutters ">
                           Working with our scientific committee, we embrace both natural and synthetic ingredients, focusing on safety over source. A combination of natural, certified organic, and safely synthesized ingredients creates the most effective product. We formulate with active ingredients at their optimum percentages in order to deliver visible results for multiple skin conditions. This is why trusted medical professionals choose to partner with us.
                        </p>
                        <p class="gutters ">
                           Our recent clinical validation of <a href="/products/everactive-c-e-51422">EverActive C&E™+ Peptide</a> speaks to the efficacy of our formulas, as does the substantial global catalogue of before and after pictures and patient testimonials.
                        </p>
                        <div class="row text-center">
                           <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                              <div id="reveal-slider" class="side-image beer-slider" data-beer-label="BEFORE">
                                 <img class="" src="/assets/frontend/for-professionals/side-results-before.webp" alt="Before image"/>
                                 <div class="beer-reveal" data-beer-label="AFTER">
                                    <img class="" src="/assets/frontend/for-professionals/side-results-after.webp" alt="After image"/>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="text-center p-b-l p-t-xl">
                           <a class="cta-button" href="/blog/the-medical-grade-difference/">
                           <span class="">Learn more</span>
                           </a>
                        </div>
                     </div>
                  </div>
                  <!-- Tab 5-->
                  <div>
                     <div class="accordion-head">
                        <div class="row">
                           <div class="col-xs-10 col-xs-offset-1 text-center">
                              Our Social Responsibility
                           </div>
                           <div class="col-xs-1 accordion-icon">
                           </div>
                        </div>
                     </div>
                     <div class="accordion-content">
                        <div class="text-center p-t-l">
                           <p class="gutters">
                              Our Clean Science promise also means being socially responsible - creating products that are safe for human health and the planet. We choose ingredients that are sustainable and suppliers who share our vision of protecting and maintaining the environment.<br />
                           </p>
                        </div>
                        <div class="text-center center-xs row p-l-xl p-r-xl p-b-xl">
                           <div class="clean-science-icon-container col-xs-6 col-sm-2 ">
                              <img class="clean-science-icon-img" src="/assets/frontend/clean-science/icons/cruelty_free.svg">
                              <span class="clean-science-icon-span">Cruelty-free</span>
                           </div>
                           <div class="clean-science-icon-container col-xs-6 col-sm-2 ">
                              <img class="clean-science-icon-img" src="/assets/frontend/clean-science/icons/bead_free.svg">
                              <span class="clean-science-icon-span">Microbead-Free Products</span>
                           </div>
                           <div class="clean-science-icon-container col-xs-6 col-sm-2 ">
                              <img class="clean-science-icon-img" src="/assets/frontend/clean-science/icons/reef_safe.svg">
                              <span class="clean-science-icon-span">Reef Safe</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!--.product-detail-->
            <script type="text/javascript">
               $(document).on('turbolinks:load.clean-science', function() {
               
                       $('div.accordion-head').on('click', function (){
               
               
                           let active = $(this).hasClass('active');
               
                           // Close all and remove active
                           $('div.accordion-head').removeClass('active');
                           $('div.accordion-content').hide();
               
                           if(!active) {
                               // Set current active and show content
                               $(this).addClass('active');
                               $(this).next('div.accordion-content').show();
                               $("html, body").animate({scrollTop:$(this).offset().top - 60}, '500');
               
                               if($(this).find('#reveal-slider')) {
                                   new BeerSlider(document.getElementById("reveal-slider"));
                               }
                               if($(this).find('.news-swiper')) {
               
                                   var cleanSwiper = new Swiper('.news-swiper', {
                                       pagination: {
                                           el: '.swiper-pagination',
                                       },
                                       navigation: {
                                           nextEl: '.swiper-button-next',
                                           prevEl: '.swiper-button-prev',
                                       },
                                       fadeEffect: {
                                           crossFade: true,
                                       },
                                       autoplay: {
                                           delay: 3500,
                                       },
                                       touchEventsTarget: 'wrapper',
                                       effect: 'fade',
                                       slidesPerView: 1,
                                       // loop: true,
                                       // autoHeight:true,
                                   });
               
                               }
                           }
               
                       });
               
                       $('.clean-science div.accordion-content').hide();
                       $('.clean-science div.accordion-content').first().show();
                       $('.clean-science div.accordion-head').first().addClass('active');
               
                   });
               
               $(document).on('turbolinks:before-render', function() {
                   $(document).off('turbolinks:load.clean-science');
               });
            </script>
         </div>