---
layout: default
title: 'Contact Us - AlumierMD Canada'
---

    <div class="content">
        
        <div class="wrapper">
  <div class="row center-xs">
    <div class="col-xs-12 col-sm-7">
      <div class="start-xs">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <h3>AlumierMD Contact Information</h3>

		<!--googleoff: index-->
              <p>
                Alumier Labs Inc<br/>
                436 Limestone Crescent<br/>
                North York, M3J 2S4,<br/>
                ON, Canada
              </p>
              <p>
                Email: <a href="mailto:help@alumiermd.ca">help@alumiermd.ca</a>
	<!--googleon: index-->
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        
    </div>