---
layout: default
title: 'AlumierMD medical-grade facial products for oily skin. - AlumierMD Canada'
---
<div class="content">
            {# Billboard ================================================== #}
            <div class="homepage-featured">
               <div class="swiper-container">
                  <div class="swiper-wrapper">
                     <!-- Slides -->
                     <div class="swiper-slide" style="background-image:url('/i/Banner_EverActive_Fashion_Ivonne.webp');"><a href="/docs/Alumier-Foundation-Press-Release.pdf"></a></div>
                     <div class="swiper-slide" style="background-image:url('/i/Banner_Retinol_Resurfacing_Ivonne.webp');"><a href="/products/everactive-c-e"></a></div>
                     <div class="swiper-slide" style="background-image:url('/i/Banner_EverActive_Fashion_Ivonne.webp');"><a href="/products/everactive-c-e-51422"></a></div>
                     <div class="swiper-slide" style="background-image:url('/i/Banner_Sunscreen_Product_Ivonne.webp');"><a href="/products/clear-shield-broad-spectrum-sunscreen-spf-42"></a></div>
                     <div class="swiper-slide" style="background-image:url('/i/Banner_Retinol_Resurfacing_Ivonne.webp');"><a href="/products/retinol-resurfacing-serum-0-5"></a></div>
                  </div>
                  <div class="swiper-overlay"></div>
                  <div class="pagination-wrapper">
                     <div class="swiper-pagination"></div>
                  </div>
               </div>
               <script type="text/javascript" charset="utf-8">
                  document.addEventListener('turbolinks:load', function(event){
                    var billboardItems = [
                        'Alumier Foundation',
                        'Samples with every online order',
                        'EverActive C&amp;E™ + Peptide',
                        'Clear Shield Broad Spectrum Sunscreen SPF 42',
                        'Retinol Resurfacing Serum',
                    ];
                  
                    var billboardSwiper = new Swiper('.swiper-container', {
                      fadeEffect: {
                        crossFade: true,
                      },
                      autoplay: {
                        delay: 4500,
                      },
                      touchEventsTarget: 'wrapper',
                      effect: 'fade',
                      pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                        renderBullet: function(index, className) {
                          if(billboardItems.length == index + 1) {
                            return '<span class="' + className + '"><span class="count">' + (index + 1) + '</span>' + billboardItems[index] + '</span><span class="scroll-down"><svg width="8" height="9" xmlns="http://www.w3.org/2000/svg"><path d="M.701.124l2.653 2.244a1 1 0 0 0 1.292 0L7.299.124A.426.426 0 0 1 8 .449v.455a1 1 0 0 1-.354.763l-3 2.538a1 1 0 0 1-1.292 0l-3-2.538A1 1 0 0 1 0 .904V.449A.426.426 0 0 1 .701.124zm0 4.48L3.354 6.85a1 1 0 0 0 1.292 0l2.653-2.244A.426.426 0 0 1 8 4.93v.454a1 1 0 0 1-.354.764l-3 2.538a1 1 0 0 1-1.292 0l-3-2.538A1 1 0 0 1 0 5.384V4.93a.426.426 0 0 1 .701-.325z" fill="#FFF" fill-rule="evenodd"/></svg></span>';
                          }
                          else {
                            return '<span class="' + className + '"><span class="count">' + (index + 1) + '</span>' + billboardItems[index] + '</span>';
                          }
                        }
                      }
                    });
                  });
               </script>
            </div>
            {# Featured products ================================================== #}
            <div class="featured-products">
               <h2 class="m-b-xl">Featured products</h2>
               <div class="space-fix">
                  <div class="grid-container">
                     <div class="grid grid-primary">
                        <div class="grid-content">
                           <div class="featured" style="background-image:url('/i/EverActive_Webpage_Ivonne.webp');">
                              <div class="content">
                                 <div class="product-info">
                                    <h3>EverActive C&amp;E™ + Peptide</h3>
                                    <p>Award-Winning vitamin C </p>
                                    <a class="normal" href="/products/everactive-c-e-51422">
                                       <svg width="18" height="9" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M17.953 4.757c.063-.128.063-.321 0-.514-.064-.064-.064-.129-.127-.193L14.029.193a.605.605 0 0 0-.886 0 .628.628 0 0 0 0 .9l2.721 2.764H.633c-.38 0-.633.257-.633.643s.253.643.633.643h15.231l-2.72 2.764a.628.628 0 0 0 0 .9.678.678 0 0 0 .442.193.678.678 0 0 0 .443-.193l3.797-3.857c.063-.064.127-.129.127-.193z" fill="#3F3F41" fill-rule="nonzero"/>
                                       </svg>
                                    </a>
                                 </div>
                                 <div class="product-news">
                                    <div class="product-news-swiper">
                                       <h4>In the news</h4>
                                       <div class="swiper-wrapper">
                                          <div class="swiper-slide">
                                             <a href="/blog/va-va-vitamin-c">Activate Your Best Skin</a>
                                          </div>
                                          <div class="swiper-slide">
                                             <a href=""></a>
                                          </div>
                                       </div>
                                       <div class="swiper-next">
                                          <svg width="18" height="9" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M17.953 4.757c.063-.128.063-.321 0-.514-.064-.064-.064-.129-.127-.193L14.029.193a.605.605 0 0 0-.886 0 .628.628 0 0 0 0 .9l2.721 2.764H.633c-.38 0-.633.257-.633.643s.253.643.633.643h15.231l-2.72 2.764a.628.628 0 0 0 0 .9.678.678 0 0 0 .442.193.678.678 0 0 0 .443-.193l3.797-3.857c.063-.064.127-.129.127-.193z" fill="#3F3F41" fill-rule="nonzero"/>
                                          </svg>
                                       </div>
                                       <div class="swiper-prev">
                                          <svg width="18" height="9" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M.047 4.757c-.063-.128-.063-.321 0-.514.064-.064.064-.129.127-.193L3.971.193a.605.605 0 0 1 .886 0 .628.628 0 0 1 0 .9L2.136 3.857h15.231c.38 0 .633.257.633.643s-.253.643-.633.643H2.136l2.72 2.764a.628.628 0 0 1 0 .9.678.678 0 0 1-.442.193.678.678 0 0 1-.443-.193L.174 4.95c-.063-.064-.127-.129-.127-.193z" fill="#3F3F41" fill-rule="nonzero"/>
                                          </svg>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="grid grid-alt">
                        <div class="grid-content">
                           <a class="normal" href="/products/bright-clear-solution-13404">
                              <span style="background-image:url('/i/Feature_Bright_and_Clear_Ivonne.webp');"></span>
                              <p>Bright &amp; Clear Solution</p>
                           </a>
                        </div>
                     </div>
                     <div class="grid grid-alt">
                        <div class="grid-content">
                           <a class="normal" href="/products/alumience-a-g-e-11318">
                              <span style="background-image:url('/i/Feature_AGE_Ivonne.webp');"></span>
                              <p>Alumience A.G.E.™</p>
                           </a>
                        </div>
                     </div>
                     <div class="grid grid-alt">
                        <div class="grid-content">
                           <a class="normal" href="/products/sheer-hydration-broad-spectrum-sunscreen-spf-40">
                              <span style="background-image:url('/i/Feature_Sunscreen_Ivonne.webp');"></span>
                              <p>Sheer Hydration Broad Spectrum SPF 40 (Untinted)</p>
                           </a>
                        </div>
                     </div>
                     <div class="grid grid-alt">
                        <div class="grid-content">
                           <a class="normal" href="/products/eye-rescue-pads-retail-33111">
                              <span style="background-image:url('/i/Feature_Eye_Rescue_Pads_Ivonne.webp');"></span>
                              <p>Eye Rescue Pads </p>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="in-the-press">
               <h2 class="m-b-xl">Featured content </h2>
               <div class="space-fix">
                  <div class="grid-container">
                     <div class="grid grid-1">
                        <div class="grid-content " style="background-image:url('/i/Feature_Vitamin_C_Challenge_Ivonne.webp');">
                           <a href="/blog/va-va-vitamin-c">
                              <p>Va-Va Vitamin C</p>
                           </a>
                        </div>
                     </div>
                     <div class="grid grid-2">
                        <div class="grid-content " style="background-image:url('/i/Feature_Splash_Ivonne.webp');">
                           <a href="/blog/why-fresh-is-best">
                              <p>Why Fresh is Best</p>
                           </a>
                        </div>
                     </div>
                     <div class="grid grid-3">
                        <div class="grid-content boxed" style="background-image:url('/i/Feature_Blog_Exfoliation_Ivonne.webp');">
                           <a href="/blog/3-summer-exfoliation-tips">
                              <div>
                                 <h3>Ditch Dull Skin with These 3 Summer Exfoliation Tips</h3>
                                 <p>Exfoliation 101</p>
                              </div>
                           </a>
                        </div>
                     </div>
                     <div class="grid grid-4">
                        <div class="grid-content striped" style="background-image:url('/i/Feature_Coral_Reef_Ivonne.webp');">
                           <a href="/blog/switch-to-mineral-sunscreens">
                              <span class="stripe-a"></span>
                              <span class="stripe-b"></span>
                              <p>8 reasons to switch to mineral sunscreen</p>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {# -- Experts ================================================== #}
            <div class="wrapper">
               <div class="experts p-m">
                  <h2>Our experts</h2>
                  <div class="row end-md">
                     <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="expert text-left">
                           <img src="/i/Bio_Karl_Lintner_Ivonne.webp" />
                           <h3>Dr. Karl Lintner</h3>
                           <p>Dr. Lintner is the inventor on several dozens of patents and has published numerous articles and book chapters on cosmetic ingredients. He introduced the peptide concept to cosmetic applications including the well known &quot;Matrixyl®&quot;.</p>
                           <a href="/our-scientific-team#karl-lintner">
                              <svg width="18" height="9" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M17.953 4.757c.063-.128.063-.321 0-.514-.064-.064-.064-.129-.127-.193L14.029.193a.605.605 0 0 0-.886 0 .628.628 0 0 0 0 .9l2.721 2.764H.633c-.38 0-.633.257-.633.643s.253.643.633.643h15.231l-2.72 2.764a.628.628 0 0 0 0 .9.678.678 0 0 0 .442.193.678.678 0 0 0 .443-.193l3.797-3.857c.063-.064.127-.129.127-.193z" fill="#3F3F41" fill-rule="nonzero"/>
                              </svg>
                           </a>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                     <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="expert text-left">
                           <img src="/i/Bio_Mindy_Goldstein_Ivonne.webp" />
                           <h3>Dr. Mindy Goldstein</h3>
                           <p>Dr. Goldstein received her Bachelor of Science with honors in Biochemistry, Masters of Science in Pathology and Ph.D. in Basic Medical Sciences from New York University in the area of UV and gamma radiation damage to DNA and DNA repair.</p>
                           <a href="/our-scientific-team#mindy-goldstein">
                              <svg width="18" height="9" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M17.953 4.757c.063-.128.063-.321 0-.514-.064-.064-.064-.129-.127-.193L14.029.193a.605.605 0 0 0-.886 0 .628.628 0 0 0 0 .9l2.721 2.764H.633c-.38 0-.633.257-.633.643s.253.643.633.643h15.231l-2.72 2.764a.628.628 0 0 0 0 .9.678.678 0 0 0 .442.193.678.678 0 0 0 .443-.193l3.797-3.857c.063-.064.127-.129.127-.193z" fill="#3F3F41" fill-rule="nonzero"/>
                              </svg>
                           </a>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>