---
layout: default
title: 'Our Scientific Team - AlumierMD Canada'
---
    <div class="content">
        
        <div class="bg-cover p-t-l p-b-l m-t-n-m" style="background-image: url(/assets/frontend/static_pages_bg-3766a1ae5f97433b13a67227f9f65f306a4c858dac44b2a986abbbb5d3094c25.jpg);">
  <div class="wrapper">
    <div class="p-t-l p-b-l text-center">
      <h1 class="text-super uppercase">OUR SCIENTIFIC TEAM</h1>
      <p class="m-t-m m-b-0">Purpose Begins with World Class Experience</p>
    </div>
  </div>
</div>

<div class="wrapper">

  <hr class="m-b-xl"/>

  <h3><a name="karl-lintner"></a>Karl Lintner, Ph.D.</h3>

  <img style="margin-bottom: 10px" class="float-left m-r-m m-b-m"  src="/assets/frontend/karl-medium.webp" width="200" height="200" alt="photo of Dr. Lintner">

  Karl Lintner, Ph.D.

  <p>Dr. Karl Lintner obtained a Degree in Chemical Engineering and a PhD in Biochemistry from Vienna University in Austria. After 10 years of research on biological peptides at the Nuclear Research Centre in Saclay, France (including more than 30 published papers in biochemistry and biophysics), he became Laboratory Manager, then Marketing Manager (product development and worldwide technical support) with the Henkel Company, Düsseldorf, Germany.</p>
  <p>Dr. Lintner joined Sederma in 1990 as Technical Director and then headed the company from 1997 to 2007 as Managing Director and CEO. He was responsible for and won a number of awards in the development of innovative active cosmetic ingredients. From 2007 to 2010 he acted as Technical Advisor to Enterprise Technology at Croda. Dr. Lintner is presently Owner and CEO of Kal’idees S.A.S. Consulting.</p>
  <p>Dr. Lintner was an Associate Professor at Versailles/St. Quentin University from 2011 to 2013. Currently, he teaches cosmetic chemistry and skin biology at the ISIPCA school of Perfumery, Cosmetics and Aroma in Versailles.</p>
  <p>Dr. Lintner is the inventor on several dozens of patents and has published numerous articles and book chapters on cosmetic ingredients. He introduced the peptide concept to cosmetic applications including the well known “Matrixyl&reg;”.</p>
  <p>Dr. Lintner is an active member of SCC (chaired COSA in 2011) and SFC (France) and acted as Editor-in-Chief of the International Journal of Cosmetic Science for almost five years. He was awarded the prestigious Maison de Navarre Medal of the SCC in 2012 and won the In-Cosmetics Lifetime Achievement Award in 2013.</p>

  <div>
    <p style="font-size : 12px">
      SFC (Société Française de Cosmétologie)<br>
COSA (Committee of Scientific Affairs of SCC)<br>
SCC (Society of Cosmetic Chemists)<br>
SEDERMA is the world’s leading company in developing innovative active cosmetic ingredients

    </p>
  </div>

  <hr class="m-t-l m-b-l"/>

  <h3><a name="mindy-goldstein"></a>Mindy S. Goldstein, Ph.D.</h3>

  <img style="margin-bottom: 10px" class="float-left m-r-m m-b-m" src="/assets/frontend/mindy-medium.webp" width="200" height="200" alt=photo of Dr. Goldstein>

  <p>Dr. Goldstein received her Bachelor of Science with honors in Biochemistry, Masters of Science in Pathology and Ph.D. in Basic Medical Sciences from New York University in the area of UV and gamma radiation damage to DNA and DNA repair. She has been credited with more than eleven publications in scientific journals and books and has been awarded patents in the area of raw materials, encapsulation and controlled release.</p>
  <p>Dr. Goldstein has been in the cosmetic industry since 1987 and most recently was Vice President of Research &amp; Development and Product Development for Atlantic Coast Media Group in Jersey City. She has consulted within the personal care, pharmaceutical and nutraceutical industries. Previously, Dr. Goldstein served as Executive Director, Research &amp; Development, for The Estee Lauder Companies in Melville, NY. Her responsibilities included supplier contact for REACH activities, internal commercialization of new treatment actives for all of the Estee Lauder brands, troubleshooting formulation issues with active materials, encapsulation technology and identifying new platform technologies. She has also held Directors positions in R &amp; D at Bath &amp; Body Works, Lipo Chemicals and Collaborative Laboratories.</p>
  <p>Dr. Goldstein is an active member of the Society of Cosmetic Chemists and is currently Vice President of the National Society leading to President in 2020. She served as the Chair of the Long Island Chapter in 1994, the Chair of the Committee on Scientific Affairs in 1998 and 2009, and the National President of the Society of Cosmetic Chemists in 2002.</p>
  <p>Dr. Goldstein was editor twice for the Journal of Cosmetic Science and currently is a reviewer for the Journal. She is a member of numerous professional and scientific organizations including the PCPC Nomenclature Committee where she is chair of the subcommittee on biotechnology, botanicals and ferments. Dr. Goldstein also serves as an advisor to Cosmetic and Toiletries magazine.</p>

</div>

        
    </div>