---
layout: default
title: 'Our Story - AlumierMD Canada'
---
         <div class="content">
            <div class="content-page our-story">
               <!--Banner-->
               <div class="bg-cover m-t-n-m">
                  <div class="row middle-sm start-sm banner-text">
                     <div class="hidden-xs col-sm-6">
                     </div>
                     <div class="hidden-xs col-sm-4 center-xs m-t-l m-b-l">
                        <h3>In essence</h3>
                        <p>
                           Alumier, from the word <i>illuminate</i>.<br />
                           <em>/r/ - </em><br /><br />
                           1. To make clear or bright<br />
                           2. To enlighten or share knowledge
                           <br/>
                        </p>
                        <p>
                           Pronunciation: <em> a-loom-ee-yay em dee</em>
                        </p>
                        <button class="btn listen-button action-listen">
                        <span class="audio-text">Listen</span> &nbsp;
                        <i class="audio-icon fa fa-lg fa-play" aria-hidden="true"></i></button>
                     </div>
                  </div>
               </div>
               <div class="wrapper text-center">
                  <hr class="m-b-xl"/>
                  <!--  Mobile-only player-->
                  <div class="row">
                     <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                        <h3 class="text-uppercase">In essence</h3>
                        <p>
                           Alumier, from the word <i>illuminate</i>.<br />
                           <em>/r/ - </em><br /><br />
                           1. To make clear or bright<br />
                           2. To enlighten or share knowledge
                           <br/>
                        </p>
                        <p>
                           Pronunciation: <em> a-loom-ee-yay em dee</em>
                        </p>
                        <button class="btn listen-button action-listen">
                        <span class="audio-text">Listen</span> &nbsp;
                        <i class="audio-icon fa fa-lg fa-play" aria-hidden="true"></i></button>
                        <hr class="m-t-l m-b-l"/>
                     </div>
                  </div>
                  <h3 class="text-uppercase">Who we are</h3>
                  <div class="text-center content-area">
                     <div class="gutters">
                        <div class="row p-t-m middle-sm">
                           <div class="center-xs end-sm col-xs-12 col-sm-7">
                              <p>
                                 AlumierMD is a true professionally-dispensed medical-grade skincare brand dedicated to the latest advancements in <a href="/clean-science" class="link-color">Clean Science</a>, and delivering therapeutic outcomes for patients presenting an array of skin conditions and concerns.
                              </p>
                           </div>
                           <div class="first-xs last-sm col-xs-12 col-sm-5 m-b-l ">
                              <img class="description-image" src="/assets/frontend/our-story/about-who.webp">
                           </div>
                        </div>
                     </div>
                  </div>
                  <hr class="m-t-m m-b-l m-r-l m-l-l"/>
                  <h3 class="text-uppercase">Our values</h3>
                  <div class="text-center content-area">
                     <div class="gutters">
                        <div class="row p-t-m center-xs">
                           <div class="col-xs-12">
                              AlumierMD is founded on three core values that inform every aspect of our international brand.
                           </div>
                        </div>
                        <div class="row p-t-l middle-xs">
                           <div class="hidden-xs col-sm-4">
                              <img class="description-icon" src="/assets/frontend/our-story/icons/icon-clean.svg" style="width:30%;">
                           </div>
                           <div class="hidden-xs col-sm-4">
                              <img class="description-icon" src="/assets/frontend/our-story/icons/icon-check.svg">
                           </div>
                           <div class="hidden-xs col-sm-4">
                              <img class="description-icon" src="/assets/frontend/our-story/icons/icon-committed.svg">
                           </div>
                        </div>
                        <div class="row ">
                           <div class="col-xs-12 hidden-sm hidden-md hidden-lg m-t-l m-b-s">
                              <img class="description-icon" src="/assets/frontend/our-story/icons/icon-clean.svg" style="width:30%;">
                           </div>
                           <div class="col-xs-12 col-sm-4">
                              <p class="m-t-m">
                                 <strong class="text-uppercase">Clean</strong>
                              </p>
                              <p class="m-t-m">We create products that are socially responsible, clinically tested and free from over 1,300 substances banned by the E.U., F.D.A and Health Canada. We call this our commitment to Clean Science.</p>
                           </div>
                           <div class="col-xs-12 hidden-sm hidden-md hidden-lg m-t-l m-b-m">
                              <img class="description-icon" src="/assets/frontend/our-story/icons/icon-check.svg">
                           </div>
                           <div class="col-xs-12 col-sm-4">
                              <p class="m-t-m">
                                 <strong class="text-uppercase">Corrective</strong>
                              </p>
                              <p class="m-t-m">Our scientists select cutting-edge, medical-grade active ingredients in concentrations that increase product efficacy. Clinical testing ensures exceptional results in correcting a variety of skin conditions and concerns.</p>
                              <p class="m-t-m"></p>
                           </div>
                           <div class="col-xs-12 hidden-sm hidden-md hidden-lg m-t-l m-b-m">
                              <img class="description-icon" src="/assets/frontend/our-story/icons/icon-committed.svg">
                           </div>
                           <div class="col-xs-12 col-sm-4">
                              <p class="m-t-m">
                                 <strong class="text-uppercase">Committed</strong>
                              </p>
                              <p class="m-t-m">We are a true physician-dispensed skincare brand that believes in the power of our professionals. We know that the most effective route to skin health is a 360-degree approach, involving treatment plans and homecare products delivered with the expertise of a trusted professional.</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <hr class="m-t-m m-b-l m-r-l m-l-l"/>
                  <h3 class="text-uppercase">OUR STORY</h3>
                  <div class="text-center content-area p-t-m ">
                     <div class="gutters">
                        <div class="row center-xs start-sm">
                           <div class="col-xs-12 col-sm-5 m-b-l">
                              <img class="description-image" src="/assets/frontend/our-story/about-our.webp">
                           </div>
                           <div class="col-xs-12 col-sm-7">
                              <p>
                                 AlumierMD was launched in 2016 and has been continually developed and driven by a group of skincare-passionate scientists, physician and science-loving skincare specialists with over 100 years of combined experience in the industry. With offices in Europe, the US and Canada, this scientific community continues to evolve and innovate the brand and its offerings.
                              </p>
                              <p>
                                 AlumierMD is one of the fastest-growing medical skincare brands, with a growing global network of partner clinics.
                              </p>
                              <p>
                                 AlumierMD was conceived to service an unmet need: medical-grade skincare that is produced in a socially responsible way and focuses on the importance of educating its customers on how to care for their skin. The company backs this commitment with innovation and education: For six years, it developed a patented technology to eliminate diversion and counterfeiting so that products are always professionally dispensed. And since it was founded, it has offered unparalleled complimentary in-clinic, classroom and virtually on-demand continuing education options - including CPD certifications (UK exclusive) - to build knowledge and inspire confidence in every skincare professional that joins the team.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <hr class="m-t-m m-b-l m-r-l m-l-l"/>
                  <h3 class="text-uppercase">ROADMAP TO SUCCESS: A VISUAL HISTORY</h3>
                  <div class="wrapper">
                     <div class="row p-t-m center-xs ">
                        <div class="hidden-xs col-sm-10">
                           <img class="full-width" src="/assets/frontend/our-story/roadmap.webp">
                        </div>
                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                           <img class="full-width" src="/assets/frontend/our-story/roadmap-mobile.webp">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <audio id="audio-listen" type="audio/mpeg" preload="auto" src="/assets/frontend/our-story/alumier.mp3"></audio>
            <script type=text/javascript>
               $(function () {
                   $('.action-listen').on('click', function () {
                       if ($('#audio-listen').prop('paused') === true) {
                           $('#audio-listen').trigger('play');
               
                           $('.audio-text').html('Playing');
                           $('.audio-icon').removeClass('fa-play');
                           $('.audio-icon').addClass('fa-stop-circle');
               
                       } else {
                           $('#audio-listen').trigger('pause');
                           $('#audio-listen').prop('currentTime', 0);
                           $('#audio-listen').trigger('ended');
               
                       }
                   });
               
                   $("#audio-listen").bind('ended', function () {
                       $('.audio-text').html('Listen');
                       $('.audio-icon').removeClass('fa-stop-circle');
                       $('.audio-icon').addClass('fa-play');
                   });
               });
            </script>
         </div>