---
layout: default
title: 'The Alumier Foundation - AlumierMD Canada'
---
    <div class="content">
        
        <div class="content-page alumier-foundation">
  <!--Banner-->
  <div class="bg-cover m-t-n-m">
      <video poster="/assets/frontend/alumier-foundation/placeholder_banner.webp" autoplay="autoplay" loop="loop"><source src="/assets/frontend/alumier-foundation/banner.mp4" /><source src="/assets/frontend/alumier-foundation/banner.webm" /></video>

    <div class="row middle-xs banner-text" >
      <div class="col-xs-12 p-t-l p-b-l text-center">
        <h1 class="cover-text text-uppercase">Introducing the Alumier Foundation</h1>
      </div>
    </div>
  </div>


  <div class="wrapper text-center p-t-xl">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <img class="full-width" src="/assets/frontend/alumier-foundation/foundation_logo.webp">
      </div>
    </div>

    <div class="text-center p-t-xl p-b-l">
      <p class="gutters spaced-paragraph">
        Education is deeply rooted in the foundation of AlumierMD. So, when we met a remarkable man on a mission to change the lives of his community with the power of education, we were compelled to join forces with him to build a school for his students in South Africa.
The Alumier Foundation has enabled hundreds of students to further their education and bring light to their community.

      </p>
    </div>

    <div class="row p-t-xl p-b-l">
        <div class="col-xs-3">
          <img class="full-width" src="/assets/frontend/alumier-foundation/square-1.webp">
        </div>
        <div class="col-xs-3">
          <img class="full-width" src="/assets/frontend/alumier-foundation/square-2.webp">
        </div>
        <div class="col-xs-3">
          <img class="full-width" src="/assets/frontend/alumier-foundation/square-3.webp">
        </div>
        <div class="col-xs-3">
          <img class="full-width" src="/assets/frontend/alumier-foundation/square-4.webp">
        </div>
    </div>

    <div class="text-center p-t-l">
      <p class="gutters spaced-paragraph">
        Please visit the Alumier Foundation to learn more about their work and initiatives.
      </p>
    </div>

    <div class="text-center p-t-l p-b-l">
      <a class="btn btn-large" href="https://www.alumierfoundation.org/" rel="noopener noreferrer nofollow" target="_blank">Learn More</a>
    </div>

  </div>
</div>
        
    </div>