<!doctype html>
<html lang="en">
   <head>
	  <title>{{ title }}</title>
         <meta charset="utf-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
         <meta name="facebook-domain-verification" content="o4gn317ls0nx2zc95rht2ssgotkodo" />
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16">
         <link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
         <link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96">
         <link rel="apple-touch-icon" href="/assets/favicon-120x120.png">
         <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon-180x180.png">
         <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon-152x152.png">
         <link rel="apple-touch-icon" sizes="167x167" href="/assets/favicon-167x167.png">
         <!-- Start of HubSpot Embed Code -->
         <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5794967.js"></script>
         <!-- End of HubSpot Embed Code -->
         <!-- Global site tag (gtag.js) - Google Analytics -->
         <script async src="https://www.googletagmanager.com/gtag/js?id=G-PF7CSJST71"></script>
         <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            
            gtag('config', 'G-PF7CSJST71');
         </script>
         <!-- Start Facebook Pixel Code -->
         <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '280241489934734');
            fbq('track', 'PageView');
         </script>
         <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=280241489934734&ev=PageView&noscript=1"
            /></noscript>
         <!-- End Facebook Pixel Code -->
         <!-- Global site tag (gtag.js) - Google Analytics -->
         <script async src="https://www.googletagmanager.com/gtag/js?id=G-PF7CSJST71"></script>
         <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-PF7CSJST71');
         </script>
         <!-- End Global site tag (gtag.js) - Google Analytics -->
         <!-- Hotjar Tracking Code for https://app.ivonnesanchez.com -->
         <script>
            (function(h,o,t,j,a,r){
               h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
               h._hjSettings={hjid:2560814,hjsv:6};
               a=o.getElementsByTagName('head')[0];
               r=o.createElement('script');r.async=1;
               r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
               a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
         </script>
         <!-- End Hotjar Tracking Code for https://app.ivonnesanchez.com -->
         <!-- Pixel Code for https://app.popkit.club/ -->
         <script async src="https://app.popkit.club/pixel/034100c6b82edb63daa9c872f50d58f4"></script>
         <!-- End Popkit Pixel Code -->
         <!-- Disable Right Click Context Menu -->
   <body oncontextmenu="return false;">
      <!--End Disable Right Click Context Menu -->
      <link rel="stylesheet" media="all" href="/assets/alumiermd.css" />
      <script src="/assets/alumiermd.js"></script>
      </head>
<body class="">

    <div class="nav-mobile">

      <span class="menu-icon" id="mobile_menu_icon" class="icon" onclick="myFunction()">
        <span></span>
      </span>

    </div>

    <header>
    <div class="menu-mobile" id="mobile_menu_mobile">
               <div class="overlay">
                  <nav id="myLinks">
                     <div class="dropdown">
                        <span class="dropdown-link" onclick="dropdown_open()">Products</span>
                        <div class="dropdown-content product_subcategories" id="product_subcategories">
                           <span class="back" onclick="backClick_close()">Back</span>
                           <a href="/products">All Products</a>
                           <div class="row">
                              <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                                 <h4>Categories</h4>
                                 <a href="/t/categories/essentials">Essentials</a>
                                 <a href="/t/categories/sunscreens">Sunscreens</a>
                                 <a href="/t/categories/eye-products">Eye Products</a>
                                 <a href="/t/categories/cleansers">Cleansers</a>
                                 <a href="/t/categories/moisturizers">Moisturizers</a>
                                 <a href="/t/categories/targeted-serums">Targeted Serums</a>
                                 <a href="/t/categories/exfoliants">Exfoliants</a>
                                 <a href="/t/categories/post-procedure">Post Procedure</a>
                                 <a href="/t/categories/collections">Collections</a>
                              </div>
                              <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                                 <h4>Skin Type</h4>
                                 <a href="/t/skin-type/normal-skin">Normal Skin</a>
                                 <a href="/t/skin-type/dry-skin">Dry Skin</a>
                                 <a href="/t/skin-type/oily-skin">Oily Skin</a>
                                 <a href="/t/skin-type/combination-skin">Combination Skin</a>
                              </div>
                              <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                                 <h4>Skin Condition</h4>
                                 <a href="/t/skin-condition/acne">Acne</a>
                                 <a href="/t/skin-condition/aging">Aging</a>
                                 <a href="/t/skin-condition/discoloration">Discoloration</a>
                                 <a href="/t/skin-condition/redness-prone-and-sensitive">Redness-Prone / Sensitive</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a href="/for-professionals">Become A Partner</a>
                     <div class="dropdown medium-menu">
                        <span class="dropdown-link">About Us</span>
                        <div class="dropdown-content">
                           <span class="back">Back</span>
                           <div class="row">
                              <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                                 <h4>About Us</h4>
                                 <a href="/our-story">Our Story</a>
                                 <a href="/clean-science">The Clean Science Difference</a>
                                 <a href="/the-alumier-foundation">The Alumier Foundation</a>
                                 <a href="/contact-us">Contact Us</a>
                              </div>
                              <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                                 <h4>Our Scientific Team</h4>
                                 <a href="/our-scientific-team#karl-lintner">Karl Lintner</a>
                                 <a href="/our-scientific-team#mindy-goldstein">Mindy Goldstein</a>
                                 <a href="/blog/category/expert-advice/">Expert Articles</a>
                              </div>
                              <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="dropdown narrow-menu">
                        <span class="dropdown-link">Media</span>
                        <div class="dropdown-content">
                           <span class="back">Back</span>
                           <div class="row">
                              <div class="col-xs-12 col-sm-3">
                                 <a href="/blog">Blog</a>
                                 <a href="/blog/category/press">Press</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a href="/find-a-professional">How To Purchase</a>
                     <a target="_blank" href="https://alumierlabs.zendesk.com/hc/en-us" rel="noopener noreferrer nofollow" target="_blank">FAQ</a>
                  </nav>
                  <div class="side-menu">
                     <div style="float: right;">
                        <a href="https://www.alumiermd.ca/login" rel="noopener noreferrer nofollow" target="_blank">Sign In</a>
                        <span class="separator"></span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="inner">
               <a href="/" class="logo"><img src="/assets/frontend/alumiermd_logo.svg" alt="AlumierMD" title="AlumierMD"></a>
               <nav>
                  <div class="dropdown">
                     <span class="dropdown-link"><a href="/products">Products</a></span>
                     <div class="dropdown-content">
                        <span class="back">Back</span>
                        <a href="/products">All Products</a>
                        <div class="row">
                           <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                              <h4>Categories</h4>
                              <a href="/t/categories/essentials">Essentials</a>
                              <a href="/t/categories/sunscreens">Sunscreens</a>
                              <a href="/t/categories/eye-products">Eye Products</a>
                              <a href="/t/categories/cleansers">Cleansers</a>
                              <a href="/t/categories/moisturizers">Moisturizers</a>
                              <a href="/t/categories/targeted-serums">Targeted Serums</a>
                              <a href="/t/categories/exfoliants">Exfoliants</a>
                              <a href="/t/categories/post-procedure">Post Procedure</a>
                              <a href="/t/categories/collections">Collections</a>
                           </div>
                           <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                              <h4>Skin Type</h4>
                              <a href="/t/skin-type/normal-skin">Normal Skin</a>
                              <a href="/t/skin-type/dry-skin">Dry Skin</a>
                              <a href="/t/skin-type/oily-skin">Oily Skin</a>
                              <a href="/t/skin-type/combination-skin">Combination Skin</a>
                           </div>
                           <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                              <h4>Skin Condition</h4>
                              <a href="/t/skin-condition/acne">Acne</a>
                              <a href="/t/skin-condition/aging">Aging</a>
                              <a href="/t/skin-condition/discoloration">Discoloration</a>
                              <a href="/t/skin-condition/redness-prone-and-sensitive">Redness-Prone / Sensitive</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a href="/for-professionals">Become A Partner</a>
                  <div class="dropdown medium-menu">
                     <span class="dropdown-link">About Us</span>
                     <div class="dropdown-content">
                        <span class="back">Back</span>
                        <div class="row">
                           <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                              <h4>About Us</h4>
                              <a href="/our-story">Our Story</a>
                              <a href="/clean-science">The Clean Science Difference</a>
                              <a href="/the-alumier-foundation">The Alumier Foundation</a>
                              <a href="/contact-us">Contact Us</a>
                           </div>
                           <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                              <h4>Our Scientific Team</h4>
                              <a href="/our-scientific-team#karl-lintner">Karl Lintner</a>
                              <a href="/our-scientific-team#mindy-goldstein">Mindy Goldstein</a>
                              <a href="/blog/category/expert-advice/">Expert Articles</a>
                           </div>
                           <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="dropdown narrow-menu">
                     <span class="dropdown-link">Media</span>
                     <div class="dropdown-content">
                        <span class="back">Back</span>
                        <div class="row">
                           <div class="col-xs-12 col-sm-3">
                              <a href="/blog">Blog</a>
                              <a href="/blog/category/press">Press</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a href="/find-a-professional">How To Purchase</a>
                  <a target="_blank" href="https://alumierlabs.zendesk.com/hc/en-us" rel="noopener noreferrer nofollow" target="_blank">FAQ</a>
               </nav>
               <div class="side-menu">
                  <div style="float: right;">
                     <a href="https://www.alumiermd.ca/login" rel="noopener noreferrer nofollow" target="_blank">Sign In</a>
                     <span class="separator"></span>
                  </div>
               </div>
            </div>
            <script type="text/javascript">
               document.addEventListener('turbolinks:load', function(event) {
                 alumier.fetch_cart('/cart_link');
               });
            </script>
         </header>
         <div class="content">
            <!-- This was the unique code -->
            {{ content | safe }} 
            <!-- Start Footer -->  
         <footer>
            <div class="top">
               <a href="/" class="logo"><img src="/assets/frontend/alumiermd_logo.svg" alt="AlumierMD" title="AlumierMD"></a>
               <div class="social">
                  <a href="https://www.facebook.com/AlumierMD" rel="noopener noreferrer nofollow" target="_blank"><img src="/i/Icon-Facebook.svg" alt="AlumierMD" title="AlumierMD"></a>
                  <a href="https://www.youtube.com/channel/UCHixGwSaL7l4itfGwPiZZlQ" rel="noopener noreferrer nofollow" target="_blank"><img src="/i/Icon-YouTube.svg" alt="AlumierMD" title="AlumierMD"></a>
                  <a href="https://www.instagram.com/alumiermdcanada/" rel="noopener noreferrer nofollow" target="_blank"><img src="/i/Icon-Instagram.svg" alt="AlumierMD Canada" title="AlumierMD Canada"></a>
               </div>
               <nav>
                  <div class="dropdown">
                     <span class="dropdown-link"><a href="/products">Products</a></span>
                     <div class="dropdown-content">
                        <span class="back">Back</span>
                        <a href="/products">All Products</a>
                        <div class="row">
                           <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                              <h4>Categories</h4>
                              <a href="/t/categories/essentials">Essentials</a>
                              <a href="/t/categories/sunscreens">Sunscreens</a>
                              <a href="/t/categories/eye-products">Eye Products</a>
                              <a href="/t/categories/cleansers">Cleansers</a>
                              <a href="/t/categories/moisturizers">Moisturizers</a>
                              <a href="/t/categories/targeted-serums">Targeted Serums</a>
                              <a href="/t/categories/exfoliants">Exfoliants</a>
                              <a href="/t/categories/post-procedure">Post Procedure</a>
                              <a href="/t/categories/collections">Collections</a>
                           </div>
                           <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                              <h4>Skin Type</h4>
                              <a href="/t/skin-type/normal-skin">Normal Skin</a>
                              <a href="/t/skin-type/dry-skin">Dry Skin</a>
                              <a href="/t/skin-type/oily-skin">Oily Skin</a>
                              <a href="/t/skin-type/combination-skin">Combination Skin</a>
                           </div>
                           <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                              <h4>Skin Condition</h4>
                              <a href="/t/skin-condition/acne">Acne</a>
                              <a href="/t/skin-condition/aging">Aging</a>
                              <a href="/t/skin-condition/discoloration">Discoloration</a>
                              <a href="/t/skin-condition/redness-prone-and-sensitive">Redness-Prone / Sensitive</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a href="/for-professionals">Become A Partner</a>
                  <div class="dropdown medium-menu">
                     <span class="dropdown-link">About Us</span>
                     <div class="dropdown-content">
                        <span class="back">Back</span>
                        <div class="row">
                           <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                              <h4>About Us</h4>
                              <a href="/our-story">Our Story</a>
                              <a href="/clean-science">The Clean Science Difference</a>
                              <a href="/the-alumier-foundation">The Alumier Foundation</a>
                              <a href="/contact-us">Contact Us</a>
                           </div>
                           <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                              <h4>Our Scientific Team</h4>
                              <a href="/our-scientific-team#karl-lintner">Karl Lintner</a>
                              <a href="/our-scientific-team#mindy-goldstein">Mindy Goldstein</a>
                              <a href="/blog/category/expert-advice/">Expert Articles</a>
                           </div>
                           <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="dropdown narrow-menu">
                     <span class="dropdown-link">Media</span>
                     <div class="dropdown-content">
                        <span class="back">Back</span>
                        <div class="row">
                           <div class="col-xs-12 col-sm-3">
                              <a href="/blog/category/blog">Blog</a>
                              <a href="/blog/category/press">Press</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a href="/find-a-professional">How To Purchase</a>
                  <a target="_blank" href="https://alumierlabs.zendesk.com/hc/en-us" rel="noopener noreferrer nofollow" target="_blank">FAQ</a>
               </nav>
            </div>
            <div class="bottom">
               <div class="content">
                  <div class="copy">
                     &copy;<script>document.write(new Date().getFullYear())</script>. All Rights Reserved. AlumierMD&trade; is a registered trademark of Alumier Labs.
                  </div>
                  <div class="links">
                     <a href="https://www.alumiermd.ca/terms-and-conditions" rel="noopener noreferrer nofollow" target="_blank">Terms &amp; Conditions</a>
                     <a href="https://www.alumiermd.ca/returns-and-refund-policy" rel="noopener noreferrer nofollow" target="_blank">Shipping &amp; Returns</a>
                     <a href="https://www.alumiermd.ca/privacy-policy" rel="noopener noreferrer nofollow" target="_blank">Privacy Policy</a>
                     <a href="/contact-us" rel="noopener noreferrer nofollow" target="_blank">Contact Us</a>
                  </div>
                  <div class="clearfix"></div>
               </div>
            </div>
         </footer>

         <script type="text/javascript">
            var toggle_item = 0;

            const myFunction = () => {
            
               var mobile_menu_icon = document.getElementById("mobile_menu_icon");
               var mobile_menu_mobile = document.getElementById("mobile_menu_mobile");
               if( toggle_item === 0 ){
                   mobile_menu_icon.classList.add("open");
                   mobile_menu_mobile.classList.add("open");
                   toggle_item = 1;
               }else {
                   mobile_menu_icon.classList.remove("open");
                   mobile_menu_mobile.classList.remove("open");
                   toggle_item = 0; 
               }
            }

            const dropdown_open = () => {
               var product_subcategories = document.getElementById("product_subcategories");
               product_subcategories.classList.add("open");
            }

            const backClick_close = () => {
               var product_subcategories = document.getElementById("product_subcategories");
               product_subcategories.classList.remove("open");
            }


         </script>

   </body>
</html>