---
layout: default
title: 'AHA Renewal Serum - AlumierMD Canada'
---

    <div class="content">
        
        
    <div class="product-detail">

        <div class="breadcrumb">
            <a href="/">Home</a>
            <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#A3A3A9" fill-rule="nonzero" opacity=".5"/></svg>
            <a href="/products">Products</a>
            <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#A3A3A9" fill-rule="nonzero" opacity=".5"/></svg>
            <span>AHA Renewal Serum</span>
        </div>

        <div class="wrapper">
            <div class="product-image">
    <div class="large">
            <span id="thumb-0" class="current">
                
  
    <img itemprop="image" src="/i/30ml_Bottle_AHA_Renewal_Serum_Ivonne.webp" />



            </span>
    </div>
</div>

            <h1>AHA Renewal Serum</h1>
            <p class="description">A powerful AHA (Alpha Hydroxy Acid) serum that enhances skin texture and tone, reducing the visible signs of aging.</p>

            <div class="skin-types">
                <div class="letter">
                    <label>Skin conditions</label>
                        <span class="item">Ag<span class="tooltip">Aging</span></span>
                        <span class="item">Di<span class="tooltip">Discoloration</span></span>
                        <span class="item">Ac<span class="tooltip">Acne</span></span>
                        <span class="item">Re<span class="tooltip">Redness-Prone / Sensitive</span></span>
                </div>

                <div class="letter">
                    <label>Skin types</label>
                </div>

            </div>



            <div class="m-t-m">

                    <span class="price">
                      Buy Now
                    </span>

                <a class="btn-primary" href="https://www.alumiermd.ca/login" rel="noopener noreferrer nofollow" target="_blank">
                    Sign In To Place Order
                    <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#FFF" fill-rule="nonzero"/></svg>
                </a>

                <a class="btn-secondary" href="https://app.ivonnesanchez.com/forms/alumierMD_virtual_consult_18787850" rel="noopener noreferrer nofollow" target="_blank">
                  New Client Virtual Consult
                  <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#ADADB4" fill-rule="nonzero"/></svg>
</a>          </div>

            <p class="quote m-t-l m-b-l text-left">
              <span class="quote-head">TRUST THE EXPERTISE OF A PROFESSIONAL</span><br/>
              The key to a beautiful complexion is your skincare professional who knows and understands the skin in depth, and can customize your AlumierMD experience. No more guess work, get a routine that is tailored to your skin’s specific needs, and see real results sooner than you think!
            </p>

            <div class="clearfix"></div>

            <div class="tabs">
                <span class=" tablinks current " data-tab="tab-1" onclick="openTab(event, 'Information')">Information</span>
                <span class=" tablinks" data-tab="tab-2" onclick="openTab(event, 'Directions')">Directions</span>
                <span class=" tablinks" data-tab="tab-3" onclick="openTab(event, 'Ingredients')">Ingredients</span>
            </div>

        </div>

        <div class="tab-content-wrapper">
            <div class="wrapper">

            <div class="product-description current tabcontent" id="Information">
            <div class="key-ingredients">
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Dye free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Paraben free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Sulfate free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Phthalate free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Animal cruelty free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Artificial fragrance free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Chemical sunscreen filter free
        </span>
</div>

                  <p>AHA Renewal Serum is a clarifying formula with an alpha hydroxy acid that gently but thoroughly exfoliates, and hydrators to reduce the visible signs of aging and promote brighter, firmer and more radiant skin.</p>

<p>Lactic acid (8%) removes dead skin layers, speeds cell turnover, reduces the appearance of discolouration and smooths the appearance of fine lines and wrinkles. Allantoin, sodium hyaluronate and vitamin B5 hydrate, while green tea and arnica soothe the skin.&nbsp;</p>

<p>30 mL /1 fl oz e</p>

                </div>

                <div class="product-description tabcontent" id="Directions">
                    <p><span style="font-family:Arial,Helvetica,sans-serif;">Twist pump left to open and right to close. Apply 1-2 pumps in the evening after cleansing and gently massage into face, neck and d&eacute;collet&eacute; in an upward motion. Begin using this formula two nights per week and increase frequency as tolerated. Follow with appropriate AlumierMD moisturizer. </span></p>

<p><span style="font-size:11px;"><span style="font-family:Arial,Helvetica,sans-serif;"><strong>Caution: </strong>Do not use if you are pregnant, breastfeeding, or planning to become pregnant unless authorized by your health care provider. Do not use if you are allergic to aspirin, or any known derivatives. Due to the exfoliating action on the skin, it is imperative that sunscreen is used in conjunction with this product to significantly reduce the risk of potential sun damage. Slight tingling can be expected with patients presenting a more sensitive or reactive skin type. For external use only. Avoid contact with eyes, eyelids and mucous membranes. Keep out of reach of children.<br />
<strong>Sunburn Alert:</strong> This product contains an alpha hydroxy acid (AHA) that may increase your skin&#39;s sensitivity to the sun and particularly the possibility of sunburn. Use a sunscreen, wear protective clothing, and limit sun exposure while using this product for a week afterward.<br />
<strong>Allergy Alert:</strong> Do not use if you are allergic to Aspirin.</span></span></p>

                </div>

                <div class="product-description tabcontent" id="Ingredients">
                    <p><strong>8% Lactic Acid: </strong>Naturally found in milk and part of the alpha hydroxy acid family (AHA), lactic acid is biosynthesized for cosmetic formulations. It exfoliates cellular debris and enhances cell turnover to firm and strengthen aging skin, which improves the appearance of fine lines and wrinkles.<br />
<br />
<strong>Arnica: </strong>Extracted from the flower heads of the arnica montana plant, arnica has soothing properties.<br />
<br />
<strong>Green Tea: </strong>Packed with antioxidants called polyphenols, specifically catechins, green tea protects skin from free radicals caused by the sun&rsquo;s rays and pollution<strong>.<br />
<br />
Allantoin: </strong>Extracted from the comfrey plant, allantoin increases water content in the skin and enhances exfoliation, improving skin smoothness.<br />
<br />
<strong>Vitamin B5: </strong>Also referred to as pantothenic acid or panthenol, vitamin B5 acts as a humectant, locking in moisture to hydrate skin.<br />
<br />
<strong>Sodium Hyaluronate: </strong>A form of hyaluronic acid that hydrates by drawing water into the outer layers from deep within the skin. It holds up to 1,000 times its weight in water, making skin plumper, softer and smoother.<br />
<br />
<strong>Full Ingredient List:&nbsp;</strong>WATER/AQUA/EAU, LACTIC ACID, PROPANEDIOL, GLYCERIN, HYDROXYETHYL ACRYLATE/SODIUM ACRYLOYLDIMETHYL TAURATE COPOLYMER, SODIUM HYDROXIDE, ARNICA MONTANA FLOWER EXTRACT, CAMELLIA SINENSIS LEAF EXTRACT, SODIUM HYALURONATE, PANTHENOL, ALLANTOIN, TOCOPHEROL, SORBITAN ISOSTEARATE,CAPRYLIC ACID, CAPRYLYL GLYCOL, XYLITOL, DISODIUM EDTA, HYDROXYACETOPHENONE, 1,2-HEXANEDIOL, ETHYLHEXYLGLYCERIN.</p>


                    <div class="m-t-m">
                        <small>Please note: Our formulations are updated periodically as part of our pledge to innovation and clean science. Therefore, the ingredient lists on this website may differ from the product packaging depending on the time and country of purchase. Please refer to your product packaging for accurate ingredient lists.</small>
                    </div>

                </div>



            </div>
        </div>

    </div>



    <script type="text/javascript">
            

            

            var hash = window.location.hash.substr(1);
            if(hash) {
              $('div.tabs span').each(function (index, elm) {
                  if($(elm).attr('data-tab') == hash){
                      $(elm).trigger('click');
                      $('html,body').stop().animate({scrollTop: $(elm).offset().top});
                  }
              });
            }
    </script>
  
        
    </div>