---
layout: default
title: 'HydraLight moisturizer - AlumierMD Canada'
---
    <div class="content">
        
        
    <div class="product-detail">

        <div class="breadcrumb">
            <a href="/">Home</a>
            <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#A3A3A9" fill-rule="nonzero" opacity=".5"/></svg>
            <a href="/products">Products</a>
            <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#A3A3A9" fill-rule="nonzero" opacity=".5"/></svg>
            <span>HydraLight</span>
        </div>

        <div class="wrapper">
            <div class="product-image">
    <div class="large">
            <span id="thumb-0" class="current">
                
  
    <img itemprop="image" src="https://d3qhkc7lfvjabg.cloudfront.net/products/323/large/SQR_HydraLight_RGB.jpg?1546883952" />



            </span>
    </div>
</div>

            <h1>HydraLight</h1>
            <p class="description">A light hydrating lotion loaded with powerful peptides, antioxidants and soothing ingredients.</p>

            <div class="skin-types">
                <div class="letter">
                    <label>Skin conditions</label>
                        <span class="item">Ag<span class="tooltip">Aging</span></span>
                        <span class="item">Di<span class="tooltip">Discoloration</span></span>
                        <span class="item">Ac<span class="tooltip">Acne</span></span>
                </div>

                <div class="letter">
                    <label>Skin types</label>
                        <span class="title">Combination Skin&nbsp;|</span>
                        <span class="title">Oily Skin&nbsp;|</span>
                        <span class="title">Normal Skin</span>
                </div>

            </div>



            <div class="m-t-m">

                    <span class="price">
                      Buy Now
                    </span>

                <a class="btn-primary" href="https://www.alumiermd.ca/login" rel="noopener noreferrer nofollow" target="_blank">
                    Sign In To Place Order
                    <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#FFF" fill-rule="nonzero"/></svg>
                </a>

                <a class="btn-secondary" href="https://app.ivonnesanchez.com/forms/alumierMD_virtual_consult_18787850" rel="noopener noreferrer nofollow" target="_blank">
                  New Client Virtual Consult
                  <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#ADADB4" fill-rule="nonzero"/></svg>
</a>          </div>

            <p class="quote m-t-l m-b-l text-left">
              <span class="quote-head">TRUST THE EXPERTISE OF A PROFESSIONAL</span><br/>
              The key to a beautiful complexion is your skincare professional who knows and understands the skin in depth, and can customize your AlumierMD experience. No more guess work, get a routine that is tailored to your skin’s specific needs, and see real results sooner than you think!
            </p>

            <div class="clearfix"></div>

            <div class="tabs">
                <span class=" tablinks current " data-tab="tab-1" onclick="openTab(event, 'Information')">Information</span>
                <span class=" tablinks" data-tab="tab-2" onclick="openTab(event, 'Directions')">Directions</span>
                <span class=" tablinks" data-tab="tab-3" onclick="openTab(event, 'Ingredients')">Ingredients</span>
            </div>

        </div>

        <div class="tab-content-wrapper">
            <div class="wrapper">

                <div class="product-description tabcontent current" id="Information">
                        <div class="key-ingredients">
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Dye free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Paraben free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Sulfate free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Phthalate free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Animal cruelty free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Artificial fragrance free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Chemical sunscreen filter free
        </span>
</div>

                  <p>HydraLight moisturizer is a light moisturizing formula that nourishes and improves skin texture using soothing and hydrating ingredients like sodium hyaluronate, aloe, and niacinamide.</p>

<p>Powerhouse peptides firm and strengthen the skin, reducing the appearance of fine lines and wrinkles, while antioxidants provide protection from free radical damage.</p>

<p>50 mL / 1.7 oz</p>

                </div>

                <div class="product-description tabcontent" id="Directions">
                    <p>Twist pump left to open and right to close. After cleansing and applying AlumierMD serum, apply 1-2 pumps of moisturizer and gently massage into face, neck and d&eacute;collet&eacute; in an upward motion. &nbsp;Use twice daily AM and PM.&nbsp;</p>

<p><span style="font-size:11px;"><strong>Caution:</strong> For external use only. Avoid contact with eyes, eyelids and mucous membranes. Keep out of reach of children.</span></p>

                </div>

                <div class="product-description tabcontent" id="Ingredients">
                    <p><strong>Low and High Molecular Weight Hyaluronic Acid</strong>: Hyaluronic acid (HA) is a naturally occurring complex sugar molecule that hydrates and plumps the skin by holding up to 1,000 times its weight in water. High molecular weight HA sits on top of the skin due to its large molecular size and acts as a humectant while low molecular weight HA helps to replenish the lost HA in the deeper layers of the skin that occurs during the aging process. &nbsp;&nbsp;</p>

<p><strong>MATRIXYL&reg; Synthe&#39;6&reg;: </strong>Derived from a peptide naturally found in collagen and laminins, MATRIXYL&reg; Synthe&#39;6&reg; is a tripeptide that strengthens skin and reduces the appearance of fine lines and wrinkles.</p>

<p><strong>Heptapeptide-15 Palmitate:</strong> An encapsulated hyaluronic acid boosting peptide.<br />
<br />
<strong>Glutathione: </strong>An antioxidant peptide produced naturally in our bodies, glutathione helps recycle other antioxidants, including vitamin C, vitamin E and alpha lipoic acid. Glutathione levels decrease with age.</p>

<p><strong>Niacinamide (vitamin B3):</strong> Niacinamide increases ceramide and free fatty acids in the skin, which are key components of its protective lipid barrier. Along with keeping in moisture and boosting hydration, it also brightens skin and calms redness. &nbsp;</p>

<p><strong>Tetrapeptide-14, Tea Extract, Boswellia Serrate Extract, Honey: </strong>&nbsp;A redness-relieving peptide combined with the antioxidant properties of tea and the calming qualities of honey and boswellia.<br />
<br />
<strong>Aloe: &nbsp;</strong>Extracted from the aloe vera plant, soothing aloe contains amino acids, vitamins, and minerals.&nbsp;</p>

<p><strong>Full Ingredient List:&nbsp;</strong>WATER/AQUA/EAU, GLYCERIN, PROPANEDIOL, CAPRYLIC/CAPRIC TRIGLYCERIDE, NIACINAMIDE, TETRAPEPTIDE-14, PALMITOYL TRIPEPTIDE-38, PALMITOYL TETRAPEPTIDE-50, CAPRYLYL/CAPRYL GLUCOSIDE, HYDROLYZED HYALURONIC ACID, TOCOPHERYL ACETATE, ALLANTOIN, ALOE BARBADENSIS LEAF JUICE, GLUTATHIONE, SODIUM HYALURONATE, LACTIC ACID/GLYCOLIC ACID COPOLYMER, HONEY EXTRACT, ASPALATHUS LINEARIS LEAF EXTRACT, BOSWELLIA SERRATA GUM EXTRACT, HYDROXYPROPYL CYCLODEXTRIN, &nbsp;HEPTAPEPTIDE-15 PALMITATE, SODIUM HYDROXIDE, XYLITOL, CAPRYLIC ACID, CAPRYLYL GLYCOL, POLYISOBUTENE, BORAGO OFFICINALIS SEED OIL, DISODIUM EDTA, ACRYLATES/C10-30 ALKYL ACRYLATE CROSSPOLYMER, SODIUM ACRYLATE/SODIUM ACRYLOYDIMETHYL TAURATE COPOLYMER, POLYVINYL ALCOHOL, ETHYLHEXYLGLYCERIN. &nbsp;&nbsp;</p>

<p><span style="font-size:9px;">MATRIXYL&reg; Synthe&#39;6&reg; is used under authorization of Sederma Inc.</span></p>


                    <div class="m-t-m">
                        <small>Please note: Our formulations are updated periodically as part of our pledge to innovation and clean science. Therefore, the ingredient lists on this website may differ from the product packaging depending on the time and country of purchase. Please refer to your product packaging for accurate ingredient lists.</small>
                    </div>

                </div>



            </div>
        </div>

    </div>



    <script type="text/javascript">
        document.addEventListener("turbolinks:load", function(event) {
            if(window.ga) {
                gtag('event', 'view_item', {
                    'currency': 'CAD',
                    'items': [
                      {
                        'item_id': '11202',
                        'item_name': 'HydraLight',
                        'quantity': 1,
                        'price': '64.0',
                      }
                    ],
                    'value': '64.0'
                });
            }

            var add_to_cart_form = $("#product_detail_form");

            $("#btn_product_detail_add_to_cart").on('click', function(event) {
                event.preventDefault();

                if(window.ga) {
                    gtag('event', 'add_to_cart', {
                        'currency': 'CAD',
                        'items': [
                            {
                                'item_id': '11202',
                                'item_name': 'HydraLight',
                                'quantity': 1,
                                'price': '64.0',
                            }
                        ],
                        'value': '64.0'
                    });
                }

                add_to_cart_form.submit();
            });

            var hash = window.location.hash.substr(1);
            if(hash) {
              $('div.tabs span').each(function (index, elm) {
                  if($(elm).attr('data-tab') == hash){
                      $(elm).trigger('click');
                      $('html,body').stop().animate({scrollTop: $(elm).offset().top});
                  }
              });
            }
        });
    </script>
  
        
    </div>