---
layout: default
title: 'HydraRich Ultra Rich Moisturizer - AlumierMD Canada'
---
    <div class="content">
        
        
    <div class="product-detail">

        <div class="breadcrumb">
            <a href="/">Home</a>
            <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#A3A3A9" fill-rule="nonzero" opacity=".5"/></svg>
            <a href="/products">Products</a>
            <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#A3A3A9" fill-rule="nonzero" opacity=".5"/></svg>
            <span>HydraSmooth™</span>
        </div>

        <div class="wrapper">
            <div class="product-image">
    <div class="large">
            <span id="thumb-0" class="current">
                
  
    <img itemprop="image" src="/i/HydraSmooth_Ivonne.webp" />



            </span>
    </div>
</div>

            <h1>HydraSmooth™</h1>
            <p class="description">An ultra-light, fast-absorbing non-comedogenic moisturizer formulated to restore clarity to acne-prone skin.</p>

            <div class="skin-types">
                <div class="letter">
                    <label>Skin conditions</label>
                        <span class="item">Ac<span class="tooltip">Acne</span></span>
                </div>

                <div class="letter">
                    <label>Skin types</label>
                </div>

            </div>



            <div class="m-t-m">

                    <span class="price">
                      Buy Now
                    </span>

                <a class="btn-primary" href="https://www.alumiermd.ca/login" rel="noopener noreferrer nofollow" target="_blank">
                    Sign In To Place Order
                    <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#FFF" fill-rule="nonzero"/></svg>
                </a>

                <a class="btn-secondary" href="https://app.ivonnesanchez.com/forms/alumierMD_virtual_consult_18787850" rel="noopener noreferrer nofollow" target="_blank">
                  New Client Virtual Consult
                  <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#ADADB4" fill-rule="nonzero"/></svg>
</a>          </div>

            <p class="quote m-t-l m-b-l text-left">
              <span class="quote-head">TRUST THE EXPERTISE OF A PROFESSIONAL</span><br/>
              The key to a beautiful complexion is your skincare professional who knows and understands the skin in depth, and can customize your AlumierMD experience. No more guess work, get a routine that is tailored to your skin’s specific needs, and see real results sooner than you think!
            </p>

            <div class="clearfix"></div>

            <div class="tabs">
                <span class=" tablinks current " data-tab="tab-1" onclick="openTab(event, 'Information')">Information</span>
                <span class=" tablinks" data-tab="tab-2" onclick="openTab(event, 'Directions')">Directions</span>
                <span class=" tablinks" data-tab="tab-3" onclick="openTab(event, 'Ingredients')">Ingredients</span>
            </div>

        </div>

        <div class="tab-content-wrapper">
            <div class="wrapper">

                <div class="product-description tabcontent current" id="Information">
                        <div class="key-ingredients">
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Dye free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Paraben free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Sulfate free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Phthalate free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Animal cruelty free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Artificial fragrance free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Chemical sunscreen filter free
        </span>
</div>

                  <p>HydraSmooth moisturizer is an ultra-light, non-comedogenic hydrator specifically formulated to restore clarity to acne-prone skin. Salicylic acid deeply penetrates pores to remove dead skin cells, help control acne pimples and allow skin to heal. Oligopeptide-10 works synergistically with salicylic acid. Hinokitiol, sea whip and boswellia relieve redness and irritation. Allantoin and vitamin E maintain skin&rsquo;s moisture balance and the hydrolipid barrier.</p>

<p>50 mL / 1.7 fl oz e</p>

                </div>

                <div class="product-description tabcontent" id="Directions">
                    <p>Twist pump left to open and right to close. After cleansing and applying AlumierMD serums, apply 1-2 pumps to hands and gently massage into face, neck and chest in an upward motion. Use twice daily AM and PM.</p>

<p><span style="font-size:11px;"><strong>Caution: </strong>For external use only. Avoid contact with eyes, eyelids and mucous membranes. Keep out of reach of children.</span></p>

                </div>

                <div class="product-description tabcontent" id="Ingredients">
                    <p><strong>Salicylic Acid: </strong>Related to aspirin and known as a beta hydroxy acid, salicylic acid is an exfoliant with soothing properties. It is oil-soluble, allowing it to penetrate into pores to effectively exfoliate dead skin.&nbsp;</p>

<p><strong>Hinokitiol (Beta-Thujaplicin): </strong>Extracted from the oils of the western red cedar tree, hinokitiol is a superpower ingredient with soothing, anti-irritant, antioxidant and brightening properties. These properties allow hinokitiol to target multifactorial redness and blemishes.</p>

<p><strong>Oligopeptide-10: </strong>This antimicrobial peptide complex works synergistically with salicylic acid in acne-prone skin.&nbsp;</p>

<p><strong>Resveratrol: </strong>Derived either from grape seeds or the Japanese knotweed plant, this antioxidant neutralizes free radical damage related to sun and irritation.</p>

<p><strong>Sea Whip: </strong>The active ingredient gorgonian extract is derived from a marine organism known as sea whip, which is a renewable resource in the Caribbean Sea. Gorgonian extract has powerful anti-irritant and soothing properties. This makes it an excellent ingredient for redness and blemish-prone skin.</p>

<p><strong>Allantoin: </strong>Extracted from the Comfrey plant, allantoin increases water content in the skin and enhances exfoliation improving skin smoothness.</p>

<p><strong>Aloe: </strong>Extracted from the aloe vera plant, soothing aloe contains amino acids, vitamins and minerals.</p>

<p><strong>Tocopherol Acetate: </strong>An effective form of vitamin E for the skin, this highly moisturizing and fat-soluble vitamin protects cell membranes and acts as an antioxidant, which strengthens the effect of vitamin C.</p>

<p><strong>Boswellia Serrata Extract: </strong>Fragrant plant extracts with anti-irritant properties.</p>

<p><strong>Honey: </strong>A moisturizing and soothing antioxidant.</p>

<p><strong>Full Ingredient List:&nbsp;</strong><br />
<u>MEDICINAL INGREDIENT</u>&nbsp;-&nbsp;SALICYLIC ACID (1%)<br />
<u>NON-MEDICINAL INGREDIENTS</u> -&nbsp;WATER/AQUA/EAU, CAPRYLYL METHICONE, PROPANEDIOL, DIMETHICONE, CAPRYLIC/CAPRIC TRIGLYCERIDE, BUTYLENE GLYCOL, GLYCERIN, POTASSIUM CETYL PHOSPHATE, CETEARYL ALCOHOL, COCAMIDOPROPYL DIMETHYLAMINE, SUCROSE STEARATE, GLYCERYL STEARATE, AMMONIUM ACRYLOYLDIMETHYLTAURATE/VP COPOLYMER, ALOE BARBADENSIS LEAF JUICE, HINOKITIOL, SEA WHIP EXTRACT, BOSWELLIA SERRATA GUM EXTRACT, HONEY EXTRACT (EXTRAIT DE MIEL), ORVZA SATIVA (RICE) BRAN EXTRACT, RESVERATROL, ALLANTOIN, OLIGOPEPTIDE-10, SPIRAEA ULMARIA EXTRACT, TOCOPHERYL ACETATE, SODIUM HYALURONATE, POLYSILICONE-11, POLYMETHYL METHACRYLATE, ADIPIC ACID/DIGLYCOL CROSSPOLYMER, TRICAPRYLIN, CAPRYLYL GLYCOL, XANTHAN GUM, CAPRYLIC ACID, CAPRYLIC/CAPRIC TRIGLYCERIDE, SORBITAN STEARATE, SODIUM HYDROXIDE, DISODIUM EDTA, XYLITOL, CITRIC ACID, ETHYLHEXYLGLYCERIN. &nbsp;&nbsp;</p>


                    <div class="m-t-m">
                        <small>Please note: Our formulations are updated periodically as part of our pledge to innovation and clean science. Therefore, the ingredient lists on this website may differ from the product packaging depending on the time and country of purchase. Please refer to your product packaging for accurate ingredient lists.</small>
                    </div>

                </div>



            </div>
        </div>

    </div>



    <script type="text/javascript">
        document.addEventListener("turbolinks:load", function(event) {
            if(window.ga) {
                gtag('event', 'view_item', {
                    'currency': 'CAD',
                    'items': [
                      {
                        'item_id': '14023',
                        'item_name': 'HydraSmooth™',
                        'quantity': 1,
                        'price': '68.0',
                      }
                    ],
                    'value': '68.0'
                });
            }

            var add_to_cart_form = $("#product_detail_form");

            $("#btn_product_detail_add_to_cart").on('click', function(event) {
                event.preventDefault();

                if(window.ga) {
                    gtag('event', 'add_to_cart', {
                        'currency': 'CAD',
                        'items': [
                            {
                                'item_id': '14023',
                                'item_name': 'HydraSmooth™',
                                'quantity': 1,
                                'price': '68.0',
                            }
                        ],
                        'value': '68.0'
                    });
                }

                add_to_cart_form.submit();
            });

            var hash = window.location.hash.substr(1);
            if(hash) {
              $('div.tabs span').each(function (index, elm) {
                  if($(elm).attr('data-tab') == hash){
                      $(elm).trigger('click');
                      $('html,body').stop().animate({scrollTop: $(elm).offset().top});
                  }
              });
            }
        });
    </script>
  
        
    </div>