---
layout: default
title: 'Retinol Eye Gel  - AlumierMD Canada'
---
    <div class="content">
        
        
    <div class="product-detail">

        <div class="breadcrumb">
            <a href="/">Home</a>
            <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#A3A3A9" fill-rule="nonzero" opacity=".5"/></svg>
            <a href="/products">Products</a>
            <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#A3A3A9" fill-rule="nonzero" opacity=".5"/></svg>
            <span>Retinol Eye Gel</span>
        </div>

        <div class="wrapper">
            <div class="product-image">
    <div class="large">
            <span id="thumb-0" class="current">
                
  
    <img itemprop="image" src="/i/15ml_Tube_Retinol_Eye_Gel_Ivonne.webp" />



            </span>
    </div>
</div>

            <h1>Retinol Eye Gel</h1>
            <p class="description">An innovative microencapsulated retinol eye gel that dramatically improves the appearance of fine lines and wrinkles and firms the skin.</p>

            <div class="skin-types">
                <div class="letter">
                    <label>Skin conditions</label>
                        <span class="item">Ag<span class="tooltip">Aging</span></span>
                        <span class="item">Ac<span class="tooltip">Acne</span></span>
                        <span class="item">Di<span class="tooltip">Discoloration</span></span>
                </div>

                <div class="letter">
                    <label>Skin types</label>
                </div>

            </div>



            <div class="m-t-m">

                    <span class="price">
                      Buy Now
                    </span>

                <a class="btn-primary" href="https://www.alumiermd.ca/login" rel="noopener noreferrer nofollow" target="_blank">
                    Sign In To Place Order
                    <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#FFF" fill-rule="nonzero"/></svg>
                </a>

                <a class="btn-secondary" href="https://app.ivonnesanchez.com/forms/alumierMD_virtual_consult_18787850" rel="noopener noreferrer nofollow" target="_blank">
                  New Client Virtual Consult
                  <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#ADADB4" fill-rule="nonzero"/></svg>
</a>          </div>

            <p class="quote m-t-l m-b-l text-left">
              <span class="quote-head">TRUST THE EXPERTISE OF A PROFESSIONAL</span><br/>
              The key to a beautiful complexion is your skincare professional who knows and understands the skin in depth, and can customize your AlumierMD experience. No more guess work, get a routine that is tailored to your skin’s specific needs, and see real results sooner than you think!
            </p>

            <div class="clearfix"></div>

            <div class="tabs">
                <span class=" tablinks current " data-tab="tab-1" onclick="openTab(event, 'Information')">Information</span>
                <span class=" tablinks" data-tab="tab-2" onclick="openTab(event, 'Directions')">Directions</span>
                <span class=" tablinks" data-tab="tab-3" onclick="openTab(event, 'Ingredients')">Ingredients</span>
                    <span class=" tablinks" data-tab="tab-4" onclick="openTab(event, 'Video')">Video</span>
            </div>

        </div>

        <div class="tab-content-wrapper">
            <div class="wrapper">

                <div class="product-description tabcontent current" id="Information">
                        <div class="key-ingredients">
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Dye free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Paraben free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Sulfate free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Phthalate free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Animal cruelty free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Artificial fragrance free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Chemical sunscreen filter free
        </span>
</div>

                  <p>Retinol Eye Gel is formulated especially for the delicate eye area and contains a pure, gentle and cutting-edge microencapsulated retinol that firms, tightens and strengthens the skin, reducing the appearance of fine lines and wrinkles. By encapsulating the retinol, as well as adding soothing and hydrating ingredients like allantoin, niacinamide and bisabolol, effective results are achieved in comfort.</p>

<p>15 mL / 0.5 fl oz e</p>

                </div>

                <div class="product-description tabcontent" id="Directions">
                    <p>With ring finger, gently pat under the eyes, along the brow bone, and over crow&rsquo;s feet, being careful not to rub or stretch the delicate skin. Use in the evening only.</p>

<p><span style="font-size:11px;"><strong>Caution: </strong>Do not use if you are pregnant, lactating or planning to become pregnant. Use AlumierMD sunscreen during the day and limit sun exposure while using the product and for a week following discontinuation.&nbsp;&nbsp;For external use only. Avoid contact with eyes, eyelids and mucous membranes. Keep out of reach of children.</span></p>

                </div>

                <div class="product-description tabcontent" id="Ingredients">
                    <p style="text-align: justify;"><strong>Microencapsulated Retinol (0.1%)</strong>: A vitamin A derivative and antioxidant that reduces the appearance of fine lines and wrinkles and improves texture and tone by strengthening skin, improving elasticity and increasing skin turnover. Retinol also targets blemish-prone skin by unclogging pores and enhances skin tone by reducing the appearance of hyperpigmentation. Encapsulated retinol allows for a slow release into the skin overnight minimizing side effects, so you can enjoy all the benefits of retinol with little to no irritation!</p>

<p style="text-align: justify;"><strong>Niacinamide (vitamin B3)</strong>: Niacinamide increases ceramide and free fatty acids in the skin, which are key components of its protective lipid barrier. Along with keeping in moisture and boosting hydration, it also brightens skin, calms redness and increases tolerance to topical retinoids.</p>

<p style="text-align: justify;"><strong>Allantoin</strong>: A plant extract that increases water content in the skin and enhances exfoliation, improving skin smoothness.</p>

<p style="text-align: justify;"><strong>Bisabolol:</strong> The main component of the oil extracted from chamomile, bisabolol is known for its soothing and skin restoring properties.</p>

<p style="text-align: justify;"><strong>Full Ingredient List:&nbsp;</strong>WATER/AQUA/EAU, CETEARYL ALCOHOL, PROPYLENE GLYCOL, DICAPRYLYL ETHER, DIPROPYLENE GLYCOL, POLYSORBATE 60, ALLANTOIN, NIACINAMIDE, CETEARYL GLUCOSIDE, DIMETHICONE, MAGNESIUM ALUMINUM SILICATE, RETINOL, APRICOT KERNEL OIL PEG-6 ESTERS, BOSWELLIA SERRATA GUM, BISABOLOL, XANTHAN GUM, CAPRYLIC/CAPRIC TRIGLYCERIDE, SODIUM GLUCONATE, BHT, SODIUM LACTATE, POLYMETHYL METHACRYLATE, CITRIC ACID, DISODIUM EDTA, SODIUM METABISULFITE, SODIUM BENZOATE, SODIUM SULFITE, SODIUM SULFATE, ETHYLHEXYLGLYCERIN, PHENOXYETHANOL.</p>


                    <div class="m-t-m">
                        <small>Please note: Our formulations are updated periodically as part of our pledge to innovation and clean science. Therefore, the ingredient lists on this website may differ from the product packaging depending on the time and country of purchase. Please refer to your product packaging for accurate ingredient lists.</small>
                    </div>

                </div>

                    <div class="product-description tabcontent" id="Video">
                        <iframe width="640" height="420"
                                src="https://www.youtube.com/embed/k8DrI5e5QRo">
                        </iframe>
                    </div>


            </div>
        </div>

    </div>



    <script type="text/javascript">
        document.addEventListener("turbolinks:load", function(event) {
            if(window.ga) {
                gtag('event', 'view_item', {
                    'currency': 'CAD',
                    'items': [
                      {
                        'item_id': '11103',
                        'item_name': 'Retinol Eye Gel',
                        'quantity': 1,
                        'price': '94.0',
                      }
                    ],
                    'value': '94.0'
                });
            }

            var add_to_cart_form = $("#product_detail_form");

            $("#btn_product_detail_add_to_cart").on('click', function(event) {
                event.preventDefault();

                if(window.ga) {
                    gtag('event', 'add_to_cart', {
                        'currency': 'CAD',
                        'items': [
                            {
                                'item_id': '11103',
                                'item_name': 'Retinol Eye Gel',
                                'quantity': 1,
                                'price': '94.0',
                            }
                        ],
                        'value': '94.0'
                    });
                }

                add_to_cart_form.submit();
            });

            var hash = window.location.hash.substr(1);
            if(hash) {
              $('div.tabs span').each(function (index, elm) {
                  if($(elm).attr('data-tab') == hash){
                      $(elm).trigger('click');
                      $('html,body').stop().animate({scrollTop: $(elm).offset().top});
                  }
              });
            }
        });
    </script>
  
        
    </div>