---
layout: default
title: 'SensiCalm gentle cleanser - AlumierMD Canada'
---
    <div class="content">
        
        
    <div class="product-detail">

        <div class="breadcrumb">
            <a href="/">Home</a>
            <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#A3A3A9" fill-rule="nonzero" opacity=".5"/></svg>
            <a href="/products">Products</a>
            <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#A3A3A9" fill-rule="nonzero" opacity=".5"/></svg>
            <span>SensiCalm</span>
        </div>

        <div class="wrapper">
            <div class="product-image">
    <div class="large">
            <span id="thumb-0" class="current">
                
  
    <img itemprop="image" src="/i/SensiCalm_cleanser_6oz_bottle_w-pump_Ivonne.webp" />



            </span>
    </div>
</div>

            <h1>SensiCalm</h1>
            <p class="description">A gentle and soothing creamy cleanser.</p>

            <div class="skin-types">
                <div class="letter">
                    <label>Skin conditions</label>
                        <span class="item">Re<span class="tooltip">Redness-Prone / Sensitive</span></span>
                        <span class="item">Ag<span class="tooltip">Aging</span></span>
                </div>

                <div class="letter">
                    <label>Skin types</label>
                        <span class="title">Dry Skin&nbsp;|</span>
                        <span class="title">Normal Skin</span>
                </div>

            </div>



            <div class="m-t-m">

                    <span class="price">
                      Buy Now
                    </span>

                <a class="btn-primary" href="https://www.alumiermd.ca/login" rel="noopener noreferrer nofollow" target="_blank">
                    Sign In To Place Order
                    <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#FFF" fill-rule="nonzero"/></svg>
                </a>

                <a class="btn-secondary" href="https://app.ivonnesanchez.com/forms/alumierMD_virtual_consult_18787850" rel="noopener noreferrer nofollow" target="_blank">
                  New Client Virtual Consult
                  <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#ADADB4" fill-rule="nonzero"/></svg>
</a>          </div>

            <p class="quote m-t-l m-b-l text-left">
              <span class="quote-head">TRUST THE EXPERTISE OF A PROFESSIONAL</span><br/>
              The key to a beautiful complexion is your skincare professional who knows and understands the skin in depth, and can customize your AlumierMD experience. No more guess work, get a routine that is tailored to your skin’s specific needs, and see real results sooner than you think!
            </p>

            <div class="clearfix"></div>

            <div class="tabs">
                <span class=" tablinks current " data-tab="tab-1" onclick="openTab(event, 'Information')">Information</span>
                <span class=" tablinks" data-tab="tab-2" onclick="openTab(event, 'Directions')">Directions</span>
                <span class=" tablinks" data-tab="tab-3" onclick="openTab(event, 'Ingredients')">Ingredients</span>
            </div>

        </div>

        <div class="tab-content-wrapper">
            <div class="wrapper">

                <div class="product-description tabcontent current" id="Information">
                        <div class="key-ingredients">
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Dye free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Paraben free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Sulfate free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Phthalate free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Animal cruelty free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Artificial fragrance free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Chemical sunscreen filter free
        </span>
</div>

                  <p>SensiCalm&nbsp;is a smooth, hydrating cleanser that delicately removes impurities and excess oil while calming skin.</p>

<p>Yucca root extract is a gentle natural cleanser.&nbsp; Niacinamide, ceramides, vitamin E and sunflower seed oil moisturize, leaving skin smooth, soft and intensely hydrated. Aloe soothes skin and calms redness.&nbsp;</p>

<p>177 mL / 6 fl oz e</p>

                </div>

                <div class="product-description tabcontent" id="Directions">
                    <p>Twice a day, use 1-2 pumps with water and massage over your face and neck. Rinse thoroughly and pat dry.&nbsp; Follow with AlumierMD serum, moisturizer, and/or sunscreen.</p>

<p><span style="font-size:11px;"><strong>Caution: </strong>For external use only. Avoid contact with eyes, eyelids and mucous membranes. Keep out of reach of children.&nbsp;</span></p>

                </div>

                <div class="product-description tabcontent" id="Ingredients">
                    <p><strong>Ceramides:&nbsp;</strong>Lipids that exist naturally in the skin to lock in moisture and hold cells in the outermost layer of the epidermis in order. Ceramide levels decrease with age<strong>.&nbsp;&nbsp;&nbsp;</strong></p>

<p><strong>Niacinamide (vitamin B3):&nbsp;</strong>Niacinamide increases ceramide and free fatty acids in the skin, which are key components of its protective lipid barrier. Along with keeping in moisture and boosting hydration, it also calms redness and brightens skin.&nbsp;<strong>&nbsp;&nbsp;&nbsp;</strong></p>

<p><strong>Sunflower Seed Oil:&nbsp;</strong>Rich in linoleic acid, this plant-based oil is highly moisturizing due to its emollient properties.&nbsp;<br />
<br />
<strong>Yucca Root Extract:&nbsp;</strong>A natural foaming ingredient and mild surfactant, yucca root extract is a gentle alternative to harsh synthetic ingredients.&nbsp;</p>

<p><strong>Tocopherol Acetate:&nbsp;</strong>An effective form of vitamin E for the skin, this highly moisturizing and fat-soluble vitamin protects cell membranes and acts as an antioxidant.</p>

<p><strong>Aloe:&nbsp;</strong>Extracted from the aloe vera plant, soothing aloe contains amino acids, vitamins, and minerals.</p>

<p><strong>Full Ingredient List:&nbsp;</strong>WATER/AQUA/EAU, CAPRYLIC/CAPRIC TRIGLYCERIDE, GLYCERIN, PROPANEDIOL, COCAMIDOPROPYL HYDROXYSULTAINE, SODIUM ACRYLATE/SODIUM ACRYLOYLDIMETHYL TAURATE COPOLYMER , CETYL ALCOHOL, ALOE BARBADENSIS LEAF JUICE, YUCCA SCHIDIGERA ROOT EXTRACT, HELIANTHUS ANNUUS (SUNFLOWER) SEED OIL, NIACINAMIDE, ALLANTOIN, TOCOPHERYL ACETATE, p-ANISIC ACID, CERAMIDE NG, DISODIUM COCOYL GLUTAMATE, POLYISOBUTENE, SUCROSE STEARATE ACRYLATES/C10-30 ALKYL ACRYLATE CROSSPOLYMER, SODIUM COCOYL GLUTAMATE, XANTHAN GUM, DISODIUM EDTA, SODIUM HYDROXIDE, CAPRYLYL/CAPRYL GLUCOSIDE, CAPRYLYL GLYCOL, XYLITOL, CAPRYLIC ACID, LINALYL ACETATE, LINALOOL, 4-TERPINENOL, CIS-&beta;-OCIMENE, SODIUM CHLORIDE, TETRASODIUM EDTA, LAURYLAMIDOPROPYL DIMETHYLAMINE, SORBITAN OLEATE, CITRIC ACID.</p>


                    <div class="m-t-m">
                        <small>Please note: Our formulations are updated periodically as part of our pledge to innovation and clean science. Therefore, the ingredient lists on this website may differ from the product packaging depending on the time and country of purchase. Please refer to your product packaging for accurate ingredient lists.</small>
                    </div>

                </div>



            </div>
        </div>

    </div>



    <script type="text/javascript">
        document.addEventListener("turbolinks:load", function(event) {
            if(window.ga) {
                gtag('event', 'view_item', {
                    'currency': 'CAD',
                    'items': [
                      {
                        'item_id': '11309',
                        'item_name': 'SensiCalm',
                        'quantity': 1,
                        'price': '46.0',
                      }
                    ],
                    'value': '46.0'
                });
            }

            var add_to_cart_form = $("#product_detail_form");

            $("#btn_product_detail_add_to_cart").on('click', function(event) {
                event.preventDefault();

                if(window.ga) {
                    gtag('event', 'add_to_cart', {
                        'currency': 'CAD',
                        'items': [
                            {
                                'item_id': '11309',
                                'item_name': 'SensiCalm',
                                'quantity': 1,
                                'price': '46.0',
                            }
                        ],
                        'value': '46.0'
                    });
                }

                add_to_cart_form.submit();
            });

            var hash = window.location.hash.substr(1);
            if(hash) {
              $('div.tabs span').each(function (index, elm) {
                  if($(elm).attr('data-tab') == hash){
                      $(elm).trigger('click');
                      $('html,body').stop().animate({scrollTop: $(elm).offset().top});
                  }
              });
            }
        });
    </script>
  
        
    </div>