---
layout: default
title: 'AlumierMD Spot Clearing Lotion - AlumierMD Canada'
---
    <div class="content">
        
        
    <div class="product-detail">

        <div class="breadcrumb">
            <a href="/">Home</a>
            <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#A3A3A9" fill-rule="nonzero" opacity=".5"/></svg>
            <a href="/products">Products</a>
            <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#A3A3A9" fill-rule="nonzero" opacity=".5"/></svg>
            <span>Spot Clearing Lotion</span>
        </div>

        <div class="wrapper">
            <div class="product-image">
    <div class="large">
            <span id="thumb-0" class="current">
                
  
    <img itemprop="image" src="/i/15ml_Bottle_Spot_Clearing_Lotion_Ivonne.webp" />



            </span>
    </div>
</div>

            <h1>Spot Clearing Lotion</h1>
            <p class="description">A potent acne spot treatment to heal blemishes quickly.</p>

            <div class="skin-types">
                <div class="letter">
                    <label>Skin conditions</label>
                        <span class="item">Ac<span class="tooltip">Acne</span></span>
                </div>

                <div class="letter">
                    <label>Skin types</label>
                </div>

            </div>



            <div class="m-t-m">

                    <span class="price">
                      Buy Now
                    </span>

                <a class="btn-primary" href="https://www.alumiermd.ca/login" rel="noopener noreferrer nofollow" target="_blank">
                    Sign In To Place Order
                    <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#FFF" fill-rule="nonzero"/></svg>
                </a>

                <a class="btn-secondary" href="https://app.ivonnesanchez.com/forms/alumierMD_virtual_consult_18787850" rel="noopener noreferrer nofollow" target="_blank">
                  New Client Virtual Consult
                  <svg width="14" height="7" xmlns="http://www.w3.org/2000/svg"><path d="M13.963 3.674c.05-.099.05-.248 0-.397-.05-.05-.05-.1-.098-.149L10.91.15a.473.473 0 0 0-.689 0 .483.483 0 0 0 0 .695L12.34 2.98H.492c-.295 0-.492.199-.492.497s.197.496.492.496H12.34l-2.117 2.135a.483.483 0 0 0 0 .695.53.53 0 0 0 .345.15.53.53 0 0 0 .344-.15l2.954-2.979c.049-.05.098-.099.098-.149z" fill="#ADADB4" fill-rule="nonzero"/></svg>
</a>          </div>

            <p class="quote m-t-l m-b-l text-left">
              <span class="quote-head">TRUST THE EXPERTISE OF A PROFESSIONAL</span><br/>
              The key to a beautiful complexion is your skincare professional who knows and understands the skin in depth, and can customize your AlumierMD experience. No more guess work, get a routine that is tailored to your skin’s specific needs, and see real results sooner than you think!
            </p>

            <div class="clearfix"></div>

            <div class="tabs">
                <span class=" tablinks current " data-tab="tab-1" onclick="openTab(event, 'Information')">Information</span>
                <span class=" tablinks" data-tab="tab-2" onclick="openTab(event, 'Directions')">Directions</span>
                <span class=" tablinks" data-tab="tab-3" onclick="openTab(event, 'Ingredients')">Ingredients</span>
                <span class=" tablinks" data-tab="drug-facts"><a name="drug-facts" onclick="openTab(event, 'Drug')" style="text-decoration:none">Drug Facts</a></span>
            </div>

        </div>

        <div class="tab-content-wrapper">
            <div class="wrapper">

                <div class="product-description tabcontent current" id="Information">
                        <div class="key-ingredients">
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Dye free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Paraben free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Sulfate free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Phthalate free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Animal cruelty free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Artificial fragrance free
        </span>
        <span>
                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><g stroke="#63C2CD" stroke-width="1.2" fill="none" fill-rule="evenodd" stroke-linejoin="round"><path d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/><path d="M4.902 8.673L6.836 10.8 11.5 4.925"/></g></svg>
            Chemical sunscreen filter free
        </span>
</div>

                  <p>Spot Clearing Lotion is an innovative fast-acting blemish formulation with benzoyl peroxide to reduce acne-causing bacteria and heal blemishes quickly. Naturally complemented with hinokitiol, tea tree oil and resveratrol to relieve redness and irritation.</p>

<p>15 mL&nbsp;/ 0.5 fl. oz &nbsp;</p>

                </div>

                <div class="product-description tabcontent" id="Directions">
                    <p>After cleansing, cover the entire affected area with a thin layer 1-3 times daily. If bothersome dryness or peeling occurs, reduce use to once daily. Follow with appropriate AlumierMD moisturizer at night and sunscreen during the day. If irritation occurs, discontinue use and consult a physician or your AlumierMD skincare professional.</p>

<p><span style="font-size:11px;"><strong>Caution: </strong>Avoid eye area. For external use only. Avoid contact with eyes, eyelids and mucous membranes. Keep out of reach of children.</span></p>

                </div>

                <div class="product-description tabcontent" id="Ingredients">
                    <p><strong>Benzoyl Peroxide (2.5%)</strong>: An ingredient found in many prescription and non-prescription acne treatments, benzoyl peroxide (BPO) works by decreasing the number of acne causing bacteria (P. acnes) to reduce acne pimples and allow skin to heal.</p>

<p><strong>Hinokitiol (Beta-Thujaplicin)</strong>: Extracted from the oils of the western red cedar tree, hinokitiol is a superpower ingredient with soothing, anti-irritant, antioxidant and brightening properties. These properties allow hinokitiol to target multifactorial skin redness and blemishes. More than 100 scientific articles exist on the biological effects of hinokitiol.</p>

<p><strong>Resveratrol</strong>: Derived either from grape seeds or the Japanese knotweed plant, this antioxidant provides protection against free radical damage related to the sun and irritation.</p>

<p><strong>Sodium Hyaluronate</strong>: A form of hyaluronic acid that hydrates by drawing water into the outer layers from deep within the skin. It holds up to 1,000 times its weight in water, making skin plumper, softer and smoother.</p>

<p><strong>Tea Tree Oil</strong>: A tree extract known for its astringent properties.</p>

<p><strong>Allantoin</strong>: Extracted from the Comfrey plant, allantoin increases water content in the skin and enhances exfoliation, improving skin smoothness.</p>

<p><strong>Full Ingredient List:&nbsp;</strong><br />
<u>ACTIVE INGREDIENTS</u>&nbsp;- BENZOYL PEROXIDE (2.5%)<br />
<u>INACTIVE INGREDIENTS</u>&nbsp;-&nbsp;WATER (AQUA), BUTYLENE GLYCOL, GLYCERIN, CARBOMER, ALLANTOIN, MELALEUCA ALTERNIFOLIA (TEA TREE) LEAF OIL, RESVERATROL, HINOKITIOL, SODIUM HYALURONATE, AMINOMETHYL PROPANOL, SYNTHETIC WAX, C20-40 PARETH-10, HYDROXYETHYL BEHENAMIDOPROPYL DIMONIUM CHLORIDE, POLYQUATERNIUM-67, 1,2-HEXANEDIOL, CAPRYLYL GLYCOL, ETHYLHEXYLGLYCERIN, PHENOXYETHANOL.</p>


                    <div class="m-t-m">
                        <small>Please note: Our formulations are updated periodically as part of our pledge to innovation and clean science. Therefore, the ingredient lists on this website may differ from the product packaging depending on the time and country of purchase. Please refer to your product packaging for accurate ingredient lists.</small>
                    </div>

                </div>


                <!-- <div class="product-description tabcontent drug-facts" id="drug-facts"> -->
                <div class="product-description tabcontent drug-facts" id="Drug">
                  <p><img alt="Spot Clearing Lotion drug facts" src="https://d3qhkc7lfvjabg.cloudfront.net/drug-facts/drug-facts-14004.png" /></p>

                </div>

            </div>
        </div>

    </div>



    <script type="text/javascript">
        document.addEventListener("turbolinks:load", function(event) {
            if(window.ga) {
                gtag('event', 'view_item', {
                    'currency': 'CAD',
                    'items': [
                      {
                        'item_id': '14008',
                        'item_name': 'Spot Clearing Lotion',
                        'quantity': 1,
                        'price': '36.0',
                      }
                    ],
                    'value': '36.0'
                });
            }

            var add_to_cart_form = $("#product_detail_form");

            $("#btn_product_detail_add_to_cart").on('click', function(event) {
                event.preventDefault();

                if(window.ga) {
                    gtag('event', 'add_to_cart', {
                        'currency': 'CAD',
                        'items': [
                            {
                                'item_id': '14008',
                                'item_name': 'Spot Clearing Lotion',
                                'quantity': 1,
                                'price': '36.0',
                            }
                        ],
                        'value': '36.0'
                    });
                }

                add_to_cart_form.submit();
            });

            var hash = window.location.hash.substr(1);
            if(hash) {
              $('div.tabs span').each(function (index, elm) {
                  if($(elm).attr('data-tab') == hash){
                      $(elm).trigger('click');
                      $('html,body').stop().animate({scrollTop: $(elm).offset().top});
                  }
              });
            }
        });
    </script>
  
        
    </div>